/*******

 Custom

*******/
/* Variables, fonts, mixins */
$susy: (
  columns: 12,
  gutters: 0,
  global-box-sizing: border-box
);

@include border-box-sizing;

// Breakpoints
$lg: 1200px;
$md: 992px 1199px;
$sm: 769px 991px;
$xs: max-width 768px;
$xxs: max-width 459px;
$xxs-iphone: max-width 320px;

$stackEuro: 'Eurofurence', monospace;
$stackFoo: 'KG Second Chances', cursive;
$stackRussoOne: 'RussoOne', cursive;
$ghostblack: hsla(0, 0, 18, .9);
$black: #000;
$white: #e8e8e8;
$ghostcyen: hsla(184, 100, 62, .9);
$sweetred: hsla(357, 73, 50, .9);
$sweetbrown: hsla(16, 95, 20, .9);
$palegreen: hsla(89, 27%, 79%, .9);
$darkgreen: hsl(89, 34%, 30%);
$transviolet: hsla(325, 65%, 30%, 0.9);
$darkGray: #3a3a3a;
// Mixins
.flag {
    z-index: 1;
    content: '';
    position: absolute;
    left: 15%;
    top: 100%;
    border: 25px solid transparent;
}
@mixin flagTo($border-color: false, $border-width: false) {
  @extend .flag;
  @if ($border-width) {
    border-width: #{$border-width}px;
  }
  @if ($border-color) {
    border-top-color: $border-color;
  }
}
/* Commonly custom */
body {
  color: $white;
  background-image: linear-gradient(#000 2px, transparent 2px), linear-gradient(90deg, #000 2px, transparent 2px), linear-gradient(rgba(0, 0, 0, .3) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, .3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  font: {
    size: 16px;
    family: $stackEuro;
  }
  line-height: 145%;
  word-break: break-word;
  font-size-adjust: 100%;
  hyphens: auto;
  -webkit-hyphens-before: 2;
  -webkit-hyphens-after: 3;
  hyphens-lines: 3;
}

h1, h2, h3{
  font-family: $stackRussoOne;  
}
h2, h3 {
  font-weight: 500;
}
h2 {
  font-size: (30em / 16);
}
h3 {
  font-size: (24em / 16);
}
a {
  color: $white;
  &:hover {
    text-decoration: none;
  }
  &:active {
    @extend a:hover;
  }
  &:focus {
    @extend a:hover;
  }
}

.banner .container,
.main,
.portfolio,
// .portfolio__works,
.skills, .hobbies, .connect, .connect__socials {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: auto;
}

.banner .container,main__intro,
.portfolio,
.skills, .hobbies, .connect {
  max-width: 1024px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: $ghostblack;
}

.anchor {
  z-index: 9999;
}
.tooltip {
  top: 9px;
  width: 100%;
}
/*******

 END Custom

*******/