/*******

 PORTFOLIO section

*******/
#portfolio {
  background-color: $ghostcyen;
  @extend %relative;
  @extend %full-width;
  padding-bottom: 75px;
  @include breakpoint($xs) {
    padding-bottom: 40px;

  }
  &::after {
    @include flagTo($ghostcyen);
  }
}

.portfolio {
  justify-content: flex-start;
  @extend %center-margin;
  @extend %dark-gray-color;
  & .slick-next, & .slick-prev  {
    top: -35px $imp;
    background-color: $darkGray;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    &::before {
      content: none $imp;
    }
    &::after {
      @extend %relative;
      @extend %center-margin;
      color: $white;
      top: 5px;
      font-size: 40px;
    }
  }
  & .slick-prev {
    &::after {
      content: "\0003C";
    }
    left: auto $imp;
    right: 60px $imp;
  }
  & .slick-next {
    &::after {
      content: "\0003E";
    }
    right: 0 $imp;
  }
}
@import "title/title.scss";
@import "works/works.scss";
/*******

 END PORTFOLIO section

*******/