/*******

 PORTFOLIO section

*******/
#portfolio {
  background-color: $ghostcyen;
  position: relative;
  z-index: 1;
  width: 100%;
  &::after {
    @include flagTo($ghostcyen);
  }
}
.portfolio {
  justify-content: flex-start;
  padding-bottom: 50px;
  margin: 0 auto;
}
@import "title/title.scss";
@import "works/works.scss";
/*******

 END PORTFOLIO section

*******/