section#skills
  .skills.container
    include title/title.pug
    include techno/techno.pug
    include conceptsTechno/conceptsTechno.pug
    .clearfix
    include tools/tools.pug
    include conceptsTools/conceptsTools.pug
// End section skills.