//Drawing's section.
section.hobbies__hobby.hobby
  .hobby__img.hobby__img-drawing
  h3.hobby__title Кисть и холст
  p.hobby__paragraph Рисуя, я провожу для себя арт-терапию, выплёскивая все эмоции на лист бумаги.
//Ukulele's section.
section.hobbies__hobby.hobby
  .hobby__img.hobby__img-ukulele
  h3.hobby__title Музыкальные инструменты
  p.hobby__paragraph Играю на пианино, гитаре и гавайской гитаре. Люблю блюз, классику и конечно же — РОК!
//Languege's section.
section.hobbies__hobby.hobby
  .hobby__img.hobby__img-languages
  h3.hobby__title Языки
  p.hobby__paragraph В свободное время изучаю Японский и Английский языки.