nav.navigation.collapse.navbar-collapse.navbar-fixed-top#collapsable(role='navigation')
  ul.navigation__navList.navList.nav.navbar-nav.navbar-right
    li.navList__item.item
      a.item__text(href='#top') About
    li.navList__item.item 
      a.item__text(href='#portfolio') Portfolio
    li.navList__item.item
      a.item__text(href="#skills") Skills
    li.navList__item.item
      a.item__text(href="#hobbies") Hobbies
    li.navList__item.item 
      a.item__text(href='#connect') Connect
  a#btnUp.navigation__btnUp.fa.fa-arrow-circle-up.fa-3x(
    aria-hidden="true",
    href="#top"
  )