/*********

  GREET section

*********/
/* container */
.main__intro {
  background-color: $ghostblack;
  @extend .full-width;
  @extend .center-margin;
  @extend .relative;
  padding-top: 125px;
  &::after {
    @include flagTo($ghostblack);
  }
  @include breakpoint($xs) {
    padding-top: 65px;
  }
}
.intro__heading, .intro__introduce  {
  @include span(5);
}


.introduce__typed {
  @extend .white-color;
  @extend .break-words;
}
.heading__greet, .intro__introduce, .intro__and {

} 
.heading__greet, .intro__introduce {
  font-size: (30em / 16);
  color: hsl(0, 0, 53);
  line-height: 130%;
}

.heading__name, .intro__and {
  font-size: (48em / 16);
  @include breakpoint($md) {
    font-size: (40em / 16);
  }
}
.heading__name {
  @extend .zero-margin;
}
.intro__and {
  color: hsl(0, 0, 61);
  font-family: monospace, monospace;
  margin-top: 50px;
  @include span(2);

  @include breakpoint($xs) {
    margin-top: 35px;
    // @extend .text-left-xs;
    text-align: left;
  }
}
.intro__heading, .intro__introduce, .intro__and {
  @include breakpoint($xs) {
    // @extend .full-width-xs;
    // @extend .pull-left-xs;
    @include span(12);

  }
}
.heading__name,  .intro__introduce { 
  @include breakpoint($xs) {
    margin-top: 25px;
  }
}
.intro__myFace {
  @extend .center-margin;
  margin-top: 80px;
  max-width: 300px;
}

.myFace__face {
  padding-top: 100%;
  @extend .responsive-background;
  background-image: url("../img/my_face.png");
  box-shadow: 0 0 5px rgba(0,0,0,.9);
}


.paragraph__text--color_cyan {
  color: hsl(184, 90, 63);
}

/* Typed.js styles */
.typed-cursor {
    @extend .visible-opacity;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/*******

 END GREET section

*******/