header.main__intro.intro
  .container
    .intro__heading.heading
      span.heading__greet Привет, меня зовут
      br
      h1.heading__name Филипп
      span.heading__and &
    .intro__introduce.introduce
      p.introduce__paragraph.paragraph. 
        <span class="paragraph__text paragraph__text-size_md">Я <span class='paragraph__icon paragraph__icon-icon_heart'></span> разрабатывать</span> 
        <br>
        <span class="paragraph__text paragraph__text-size_md paragraph__text-weight_n">ваши великолепные</span>
        <br>
        <span class="patagraph__text paragraph__text-size_xl paragraph__text-weight_b">вселенные</span>
        <br> 
    .clearfix
    .activity
      div#typed-strings
        p.
          <i>Разрабатываю</i> дизайн пользовательских интерфейсов
        p. 
          <i>Делаю</i> адаптивную вёрстку
        p.
          <i>Создаю</i> сайты на Django
      span#typed
    .intro__myFace.myFace
      figure.myFace__face.img-circle
//end intro