header.main__intro.intro
  .container
    .intro__heading.heading
      span.heading__greet Привет, меня зовут
      br
      h1.heading__name Филипп Журавлёв
    p.intro__and.text-center &
    .intro__introduce.introduce
      p.introduce__paragraph
        span Я 
          span.paragraph__text--color_cyan разработчик полного цикла
        br
        | Занимаюсь:
        br
        span.introduce__typed#typed
    .clearfix
    .activity
      div#typed-strings
        p
          i Разработкой и дизайном интерфейса
        p 
          i Адаптивной вёрсткой
        p
          i Архитектурой взаимодействия  данных приложения и их управлением
    .intro__myFace.myFace
      figure.myFace__face.img-circle
//end intro