/*********

  GREET section

*********/
/* container */
.main__intro {
  background-color: $ghostblack;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 125px;
  &::after {
    @include flagTo($ghostblack);
  }
  @include breakpoint($xs) {
    padding-top: 65px;
  }
}
.intro__heading, .intro__introduce  {
  @include span(5);
 
  @include breakpoint($sm) {
 
  }
}


.introduce__typed {
  color: $white;
  word-break: break-all;
}
.heading__greet, .intro__introduce, .intro__and {

} 
.heading__greet, .intro__introduce {
  font-size: (30em / 16);
  color: hsl(0, 0, 53);
  line-height: 130%;
}

.heading__name, .intro__and {
  font-size: (48em / 16);
  @include breakpoint($md) {
    font-size: (40em / 16);
  }
}
.heading__name {
  margin: 0;
}
.intro__and {
  color: hsl(0, 0, 61);
  font-family: monospace, monospace;
  margin-top: 50px;
  @include span(2);

  @include breakpoint($xs) {
    margin-top: 35px;
    text-align: left;
  }
}
.intro__heading, .intro__introduce, .intro__and {
  @include breakpoint($xs) {
    
    @include span(12);

  }
}
.heading__name,  .intro__introduce { 
  @include breakpoint($xs) {
    margin-top: 25px;
  }
}
.intro__myFace {
  margin: 80px auto 0;
  max-width: 300px;
}

.myFace__face {
  padding-top: 100%;
  background: url("../img/my_face.png") no-repeat center;
  background-size: cover; 
  box-shadow: 0 0 5px rgba(0,0,0,.9);
}


.paragraph__text--color_cyan {
  color: hsl(184, 90, 63);
}

/* Typed.js styles */
.activity {

  
}
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/*******

 END GREET section

*******/