| {% extends 'base.html' %}
| {% load extract_tags %}

| {% block content %}
h1.font-weight_semi Папка с работами

ul.works.list-unstyled.parent.
	{% for work in works %}
	<li class="work">
		<a class="work__refer" href="{% url 'work' slug=work.slug %}">
			<img class="img-responsive fade work__image lozad" data-src='/media/{{ work.album.thumb }}' />
			<h2 class="work__title">{{ work.name }}</h2>
			{% if work.tags|extract_m2m|length  %}
			<ul class="tags">
				{% for tag in work.tags|extract_m2m %}
				<li class="label label-default">{{ tag }}</label>
				{% endfor %}
			</ul>
			{% endif %}
		</a>
	</li>
	{% endfor %}
| {% endblock %}
