| {% extends 'base.html' %}
-
	var technologies = [{
			"name": "bootstrap",
			"title": "Bootstrap"
		},
		{
			"name": "html",
			"title": "HTML5"
		},
		{
			"name": "sass",
			"title": "Sass"
		},
		{
			"name": "git",
			"title": "GitHub"
		},
		{
			"name": "gulp",
			"title": "Gulp"
		},
		{
			"name": "js",
			"title": "JavaScript"
		},
		{
			"name": "jquery",
			"title": "jQuery"
		},
		{
			"name": "react",
			"title": "React"
		},
		{
			"name": "redux",
			"title": "Redux"
		},
		{
			"name": "figma",
			"title": "Figma"
		},
		{
			"name": "python",
			"title": "Python"
		},
		{
			"name": "django",
			"title": "Django"
		}, 
		{
			"name": "postgres",
			"title": "Postgresql"
		}
	];
| {% block content %}
section.technologies
	h1.technologiesTitle.text-uppercase.centered.parent инструментарий
		.imageContainer.imageContainer_gear.child
			figure.imageContainer__image.imageContainer__image_gear
		| для разработки
	ul.technologiesList.parent.centered
		each technology in technologies
			li.imageContainer.technology.child(class="imageContainer_" + technology.name)
				figure.imageContainer__image.technology__image(title= technology.title,  class="imageContainer__image_" + technology.name)
	
	#formWrapper.formWrapper
		h2 Обратная связь
		form#connectForm.connectForm(
			method='post'
	  	)
			| {% csrf_token %}
			// Fields
			| {% for field in form %}
			.controller
				label.controller__label( title="{% if field.field.required == true %}Обязательное для заполнения поле{% else %}Заполните поле по желанию{% endif %}").
					{{ field.label }}{% if field.field.required %}<span class="controller_required">*</span>{% endif %}
				| {{ field }}
				| {{ field.errors }}
			| {% endfor %}
			
			button#connect.button.center-block.button_purple.connectForm__button(title="Кнопка, отправляющая данные владельцу сайта", type="submit", aria-pressed=false) Связаться
| {% endblock  %}

