| {% extends 'base.html' %}
| {% load extract_tags %}

| {% block content %}

nav.worksPagination.
	{% if last %}
	<a class="previous" href="{% url 'work' slug=last.slug %}"> 		Предыдущая 
		<h4 class="workName">{{ last.name }}</h4>
	</a>
	{% endif %}
	<h2 class="currentWork text-center parent column centered" style="{% if not next %}margin-left: 0;{% endif %}"> {{ page.name }}
		<a class="currentWork__refer not-follow" href="{{ page.url }}">
			 {{ page.url }}
		</a>
	</h2>
	{% if next %}
	<a class="next text-right" href="{% url 'work' slug=next.slug %}">	  Следующая
		<h4 class="workName">{{ next.name }}</h4>
	</a>		 
	{% endif %}


.task(class="{% if not page.task %}visible-hidden{% endif %}")
	h3.task__title Задача
	.task__paragraph {{ page.task|safe }}


ul.presentWork
	| {% for image in page.album|extract_images %}
	li.presentWorkItem
		| {% if image.description %}
		p.presentWorkItem__description {{ image.description }}
		| {% endif %}
		picture.parent.centered
			source(srcset="/media/{{ image.image }}", media="screen")
			img.zooming.fade.lozad.presentWorkItem__image.img-responsive(data-src="/media/{{ image.image }}" data-action="zoom")

	| {% endfor %}
| {% endblock %}