| {% extends 'base.html' %}
| {% load extract_tags %}

| {% block content %}

nav.worksPagination.parent.
	{% if last %}
	<a class="previous tabLink" href="{% url 'work' slug=last.slug %}"> 		Предыдущая
		<h4 class="workName">{{ last.name }}</h4>
	</a>
	{% endif %}

	<h2 class="currentWork text-center parent column centered" style="{% if not next %}margin-left: 0;{% endif %}">
		<span class="font-weight_semi">{{ page.name }}</span>
		<a class="currentWork__refer not-follow" href="{{ page.url }}">
			 {{ page.url }}
		</a>
	</h2>

	{% if next %}
	<a class="next text-right tabLink" href="{% url 'work' slug=next.slug %}">	  Следующая
		<h4 class="workName">{{ next.name }}</h4>
	</a>
	{% endif %}


.task(class="{% if not page.task %}visible-hidden{% endif %}")
	h3.task__title.font-weight_semi Задача
	.task__paragraph {{ page.task|safe }}


ul.presentWork.siema
	| {% for image in page.album|extract_images %}
	li.presentWorkItem
		| {% if image.description %}
		h2.text-center.presentWorkItem__description {{ image.description }}
		| {% endif %}
		picture.parent.centered
			source(srcset="/media/{{ image.image }}", media="screen")
			img.zooming.fade.lozad.presentWorkItem__image.img-responsive(data-src="/media/{{ image.image }}" data-action="zoom")

	| {% endfor %}
| {% endblock %}
