| {% extends 'base.html' %}
| {% load extract_tags %}

| {% block content %}

nav.worksPagination
	| {% if last %}
	a.previous(href="{% url 'work' slug=last.slug %}") Предыдущая 
		h4.workName {{ last.name }}
	| {% endif %}
	h2.currentWork.text-center(style="{% if not next %}margin-left: 0;{% endif %}") {{ page.name }}
		br
		a.currentWork__refer.not-follow(href="{{ page.url }}") https://shining-present.ru/fashinableCards/
	| {% if next %}
	a.next.text-right(href="{% url 'work' slug=next.slug %}") Следующая
		h4.workName {{ next.name }}
	| {% endif %}
	| {% endif %}


.task(class="{% if not page.task %}visible-hidden{% endif %}")
	h3.task__title Задача
	p.task__paragraph {{ page.task }}


ul.presentWork
	| {% for image in page.album|extract_images %}
	li.presentWorkItem
		| {% if image.description %}
		p.presentWorkItem__description {{ image.description }}
		| {% endif %}
		picture.parent.centered
			source(srcset="/media/{{ image.image }}", media="screen")
			img.zooming.fade.lozad.presentWorkItem__image.img-responsive(data-src="/media/{{ image.image }}" data-action="zoom")

	| {% endfor %}
| {% endblock %}