/*********

  GREET section

*********/
/* container */
.main__intro {
  background-color: $ghostblack;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 125px 0 40px;
  &::after {
    @include flagTo($ghostblack);
  }
  @media (max-width: 767px) {
    padding: 75px 0;
  }
}
.intro__heading {
  @media (max-width: 767px) {
    text-align: center;
  }
}
.intro__introduce {
  position: relative;
  top: -15px;
  @media (max-width: 767px) {
    @extend .intro__heading;
  }
}
.heading__greet {
  font-size: (30em / 16);
  color: hsl(0, 0, 53);
}
.heading__name {
  font-size: (80em / 16);
  margin: 0;
}
.heading__and {
  color: hsl(0, 0, 61);
  font-family: monospace, monospace;
  font-size: (60em / 16); 
  position: relative;
  top: -88px;
  right: -285px;
  @media (max-width: 992px)   {
    right: -305px;  
  }
  @media (max-width: 767px) {
    @extend .intro__heading;
    top: -8px;
    right: 0;
  }
}
.intro__myFace {
  float: none;
  max-width: 300px;
  position: relative;
  top: -40px;
  right: -65%;
  @media (max-width: 1199px) {
    top: -35px;
  }
  @media (max-width: 992px) {
    margin: 15px auto 0;
    position: static;
  }
}
.myFace__face {
  padding-top: 100%;
  background: url("https://lh3.googleusercontent.com/i11FEWYT6PQSnYLgVtrZqPWkIBVWZ0-omHm4-klAnDVwJ9Y93_sjqZN5EN0c_ypiMDdnDYDanRr9BeiU50HsOOEr-1W4I8LN3ozwuR4hwbKY3M-EVBbSh1luZGo3VYmmQv7WkqHkJuX7YT_b4C-ksLfyVGsQwS4yfM63ene9H7xHVoysdUOJ2K0I_k5zNcIcxGSwtfKhOxleNvqpw_H9pf5fgJtBr-c69PyXm_YRqhwPgJI9fxegyxNZvBmupIlARs-sMCfxtjt2CstVBDJ1wWjbsI-SvHF4J2PqdJ2kM0vTpzUR4EMRlisAAtTq2z7TWyabF0Bp8yv_bbKMcQLrsCMy-evTQYYTTbvWEiOZaBd5qc1s3K-LtEdwx-Rxs207L18wnNEu5ZU-2-qPnBVfyQu68gQEuNlE7ewuHglvgwS6xyDdRSfTQ0JJoaYWdsudPxuX6n1LKkesycKiVzMaHuKlt1v1kgRk0V31cO0FQMtGxDaf1K3Aomu2aiJylmH9Sm7H_4Dcl1YIsHO4G29qSjtoPyp2GCaQXAhoDqv5kSqxnnHc93YshGuZ-312_e7lVYx3N2JCzS87gAcm_RygQGdCGcdqhaWVucL4N0cT6l8Ay64=w1700-h1793-no") no-repeat center;
  background-size: cover; 
  box-shadow: 0 0 5px rgba(0,0,0,.9);
}
.paragraph {
  font-size: 29px;
  line-height: 40px;
  color: hsl(0, 0, 87);
}
.paragraph__icon-icon_heart {
  display: inline-block;
  background: url("https://lh3.googleusercontent.com/K6wPhJH-uxld4vYmAlxT9XIaqJEXFgCJnkjm61KZ1ENdM6z3HAnxcsxRmGWqIQzXme8Y_UfoLW5ZF8W0wOps_aVdONtoTYKROjS269o5ncnwKNHUy3YgXDS6aj9eWtrtfZLHFz-0-dJwHxm8iMYQ3AyqayE7PwY45aigZWOyNf5lu_v0ZReY_hLVFnajmxhfuR4tBDLpQpzA_oNZ-cQRRhHEJRU3c3KrxNYy41O5ylJyIPBZJDCP5ZfEfTvYO6scGWRRbY-BOw874GSI9Z7oqC4V0paRqvXoLfnOIHpjwqmn_dlUbzd_SpFGydJXcDMOI9mtXbyrMilxE4iX4e4JeNWSl-oDAA5TDz0eWX6QWThSv2lcyvVxwK7wn_3iaSGJE0TUEXcqxPhgp-Qqs4quFt1-7UTXTdOayftD4G20tBVIjn-8hR4lsMCXPUQSz64tZpThpjNc_YQRkcIMroz6AMrzep9daI017eh8rrk--4pu0DvjlGRxIyNfaAqEV79LT_uF3os5XfP8zxvUUOMa7O2-5kMtJBdBHuAvfTefmas3g1WylFzciMY4MYZlfqysfYa5F7b2Q7nmfXCDO4BR2QWoLUIn-hSt_vszFp_XgOzuNOs=w1188-h1793-no") no-repeat;
  background-size: cover;
  height: 45px;
  width: 30px;
  margin: 0 5px;
}
.paragraph__text-size_l {
  font-size: (58em / 29);
  color: #fff;
  line-height: 50px;
}
.paragraph__text-size_xl {
  font-size: (68em / 29);
  color: hsl(184, 90, 63);
  line-height: 55px;
}
.paragraph__text-size_md {
  font-size: (30em / 29);
}
.paragraph__text-weight_b {
  font-weight: 700;
}
.paragraph__icon {
  color: #fd2933;
}
/*******

 END GREET section

*******/