// Socials
    ul.connect__socials.socials.text-center
      li.socials__contact.contact
        a.contact__cover.cover.anchor(href="mailto:shiningfinger@list.ru")
          i.cover__icon.fa.fa-envelope-o.fa-2x(aria-hidden="true")  
          span.cover__text shiningfinger@list.ru
      li.socials__contact.contact
        a.contact__cover.cover.anchor(href="https://github.com/Wishez")
          i.cover__icon.fa.fa-github.fa-2x(aria-hidden="true")  
          span.cover__text /Wishez 
      li.socials__contact.contact
        a.contact__cover.cover.anchor(href="https://twitter.com/FilippMercury")
          i.cover__icon.fa.fa-twitter.fa-2x(aria-hidden="true")
          span.cover__text @FilippMercury
      li.socials__contact.contact
        a.contact__cover.cover.anchor(href="https://www.linkedin.com/profile/preview?  locale=ru_RU&trk=prof-0-sb-preview-primary-button")
          i.cover__icon.fa.fa-linkedin.fa-2x(aria-hidden="true") 
          span.cover__text in/filipp-zhuravlev-907bb7124 
      li.socials__contact.contact
        a.contact__cover.cover.anchor(href="https://vk.com/shining_finger")
          i.cover__icon.fa.fa-vk.fa-2x(aria-hidden="true")  
          span.cover__text /shining_finger
      li.socials__contact.contact
        a.contact__cover.cover.anchor(href="tel:shining_finger")
          i.cover__icon.fa.fa-skype.fa-2x(aria-hidden="true")  
          span.cover__text shiningfinger