<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang='ru'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equive="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Вёрстка электронного письма для 24cyber.ru.">
	<title>Вёрстка электронного письма для 24cyber.ru</title>
</head>
<body bgcolor="#f1f1f1" background="#f1f1f1" style='margin:0;padding:0;'>
	<!-- begin header -->
	<table bgcolor="#ffffff" background="#ffffff" height='50' class="header" border="0" cellpadding="0" cellspacing="0" style="padding: 20px 0;font-size: 15px;box-shadow: 0 0 20px rgba(0,0,0,.15);margin:0; width: 100%;">
		<tr>
			<td>
				<table width="100%" style="width: 100%;max-width: 950px; margin:0 auto;padding: 0;width: 85%;" border="0" cellpadding="0" cellspacing="0" >
					<tr>
						<td class='header__title' style="vertical-align: middle;">
							<a href="https://24cyber.ru" target="_blank" style="color:#333b3e;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:38px;font-weight:800;line-height:24px;text-transform: uppercase;text-decoration:none;">
								24<span style='color: #2dc86f;' class='header__title_color-green'>cyber</span>
							</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!-- end header -->
	
	<!-- begin main -->
	<table width="80%" bgcolor="#ffffff" background="#ffffff" class="main" border="0" cellpadding="0" cellspacing="0" style="min-width: 320px; font-size:15px;margin:50px auto; padding:15px 27.5px 0;box-shadow: 0 0 20px 1px #a9a9a9;overflow-x: auto;-webkit-overflow-scrolling: scroll;border-radius: 5px;display: block;max-width: 1030px;">
		<!-- begin bet -->
		<tr>
			<td>
				<table width="910" class="bet" border="0" cellpadding="0" cellspacing="0" style="background:url('https://24cyber.ru/img/mail/cup.png') no-repeat center 20px;background-size: 164px 155px;margin:0;padding:25px 0px 0;">
					<!-- begin bet's profit -->
					<tr>
						<td>
							<table width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 100%;margin:0; padding:0;">
								<tr class="betMeta">
									<td class="betMeta__title" style="color:#333b3e;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:20px;font-weight:bold;line-height:24px;-webkit-text-size-adjust:none;text-align:center; z-index: 0;">
										Прибыль 5%
									</td>
								</tr>
								<tr>
									<td class="betMeta__date" style="color:#b7bac0;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;margin-top:7px;line-height:24px;-webkit-text-size-adjust:none;text-align:center;" colspan="" rowspan="" headers="">12:00, 10 января 2017</td>
								</tr>
							</table>
						</td>
					</tr>
					<!-- end bet's profit -->
					<!-- begin bet's teams -->
					<tr>
						<td>
							<table border="0" cellpadding="0" cellspacing="0" style="border-bottom: 1px solid rgba(210, 212, 216, 0.5);margin:0; padding:0;">
									<tr height='120'>
										<!-- begin team -->
										<td class="team team_left" style="vertical-align:top;">
											<table width="500" height="120" border="0" cellpadding="0" cellspacing="0" style="margin:0 10px 0 0; padding:0;">
												<tr>
													<td width="65">
														<img width="65" height="65" style="display:block;" src="https://24cyber.ru/img/mail/EG.png" alt="Evil Geniuses" class="img-reponsive team__logo">
													</td>
													<td width='90' style="color:#333b3e;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;line-height:24px;font-weight: bold;-webkit-text-size-adjust:none;padding-left:7px;">
														Evil Geniuses
													</td>
													<!-- begin teamBet -->
													<td width='143' class="teamBet teamBet_left" style="text-align: center;">
														<a href="#" class="btn teamBet__refer" target="_blank" style="background-color:#2dc86f;color:#f7f7f7;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:15px;line-height:24px;font-weight: normal;-webkit-text-size-adjust:none; height:25px;width:125px;padding:7px 12px;margin:0 auto;border-radius:5px;text-decoration:none;display:block;">Сделать ставку</a>
														<span class="teamBet__info" style="color:#b7bac0;display: block;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:13px;text-align:center;line-height:24px;-webkit-text-size-adjust:none;margin:3px 0 0;white-space:nowrap;width: 143px;overflow: hidden;text-overflow: ellipsis;">75% (70%) от банка<span class="bold" style='font-weight: bold;'>*</span></span>
													</td>
													<!-- end teamBet -->
													<td width="100">
														<img width="100" height="40" style="display: block;" src="https://24cyber.ru/img/mail/egb.png" alt="" class=" img-reponsive team__betResource team__betResource_left">
													</td>
													<td width="50">
														<span style="display:block;padding:5px;color:#2dc86f;border: 2px solid;border-radius:5px;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:20px;text-align:center;font-weight:bold;line-height:28px;-webkit-text-size-adjust:none;">2.1</span>
													</td>
												</tr>
											</table>
										</td>
										<!-- end team -->
										<td style="vertical-align:top;padding-top:39px;">
											<span style="color:#2dc86f;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:20px;font-weight:800;line-height:40px;font-weight: bold;-webkit-text-size-adjust:none;">-</span>
										</td>
										<!-- begin team -->
										<td class="team team_right" style="vertical-align:top;">
											<table width="500" height="120" border="0" cellpadding="0" cellspacing="0" style="margin:0 0 0 10px; padding:0;overflow: auto;">						
												<tr>
													<td width="50">
														<span style="display:block;padding:5px;color:#2dc86f;border: 2px solid;border-radius:5px;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:20px;text-align:center;font-weight:bold;line-height:28px;-webkit-text-size-adjust:none;">2.2</span>
													</td>
													<td width="100">
														<img width="100" height="40" style="display: block;" src="https://24cyber.ru/img/mail/egb.png" alt="EGB.com" class="img-reponsive team__betResource team__betResource_right">				
													</td>
													<!-- begin teamBet -->
													<td  width="143" class="teamBet teamBet_right" style="text-align: center;">
														<a href="#" class="btn teamBet__refer" target="_blank" style="background-color:#2dc86f;color:#f7f7f7;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:15px;line-height:24px;font-weight: normal;-webkit-text-size-adjust:none; height:25px;width:125px;padding:7px 12px;margin:0 auto;border-radius:5px;text-decoration:none;display:block;">Сделать ставку</a>
														<span class="teamBet__info" style="color:#b7bac0;display: block;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:13px;text-align:center;line-height:24px;-webkit-text-size-adjust:none;margin:3px 0 0;white-space: nowrap;width: 143px;overflow: hidden;text-overflow: ellipsis;">75% (70%) от банка<span class="bold" style='font-weight: bold;'>*</span></span>
													</td>
													<!-- end teamBet -->
													<td width='90' style="color:#333b3e;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;line-height:24px;font-weight: bold;-webkit-text-size-adjust:none;text-align:right;padding-right:7px;">
														Evil Geniuses
													</td>
													<td width="65">
														<img width="65" height="65" style="display: block;" src="https://24cyber.ru/img/mail/EG.png" alt="Evil Geniuses" class="img-reponsive team__logo">
													</td>
												</tr>
											</table>
										</td>
										<!-- end team -->
									</tr>
								</table>
							</td>
						</tr>
						<!-- end bet's teams -->
					</table>
				</td>
			</tr>
			<!-- end bet -->
			<tr>
			<td>
				<table width="910" class="bet" border="0" cellpadding="0" cellspacing="0" style="background:url('https://24cyber.ru/img/mail/cup.png') no-repeat center 20px;background-size: 164px 155px;margin:0;padding:23px 0px 0;">
					<!-- begin bet's profit -->
					<tr>
						<td>
							<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;margin:0; padding:0;">
								<tr class="betMeta">
									<th class="betMeta__title" style="color:#333b3e;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:20px;font-weight:bold;line-height:24px;-webkit-text-size-adjust:none;text-align:center; z-index: 0;">
										Прибыль 5%
									</th>
								</tr>
								<tr>
									<th class="betMeta__date" style="color:#b7bac0;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;margin-top:7px;line-height:24px;-webkit-text-size-adjust:none;text-align:center;" colspan="" rowspan="" headers="">12:00, 10 января 2017</th>
								</tr>
							</table>
						</td>
					</tr>
					<!-- end bet's profit -->
					<!-- begin bet's teams -->
					<tr>
						<td>
							<table border="0" cellpadding="0" cellspacing="0" style="border-bottom: 1px solid rgba(210, 212, 216, 0.5);margin:0; padding:0;">
									<tr height='120'>
										<!-- begin team -->
										<td class="team team_left" style="vertical-align: top;">
											<table width="500" height="120" border="0" cellpadding="0" cellspacing="0" style="margin:0 10px 0 0; padding:0;">
												<tr>
													<td width="65">														<img width="65" height="65" style="display:block;" src="https://proxy.imgsmail.ru?email=shiningfinger%40list.ru&e=1515997996&h=Gwzqs4NbsgqOBnpy8rm4kw&url171=MjRjeWJlci5ydS9pbWcvbG9nb3MvdGVhbV9sb2dvXzE0OTk0OTM0MTEucG5n&is_https=1" alt="LGD Gaming" class="img-reponsive team__logo">
													</td>
													<td width='90' style="color:#333b3e;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;line-height:24px;font-weight: bold;-webkit-text-size-adjust:none;padding-left:7px;">
													LGD Gaming												
													</td>
													<!-- begin teamBet -->
													<td width='143' class="teamBet teamBet_left" style="text-align: center;">
														<a href="#" class="btn teamBet__refer" target="_blank" style="background-color:#2dc86f;color:#f7f7f7;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:15px;line-height:24px;font-weight: normal;-webkit-text-size-adjust:none; height:25px;width:125px;padding:7px 12px;margin:0 auto;border-radius:5px;text-decoration:none;display:block;">Сделать ставку</a>
														<span class="teamBet__info" style="color:#b7bac0;display: block;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:13px;text-align:center;line-height:24px;-webkit-text-size-adjust:none;margin:3px 0 0;white-space:nowrap;width: 143px;overflow: hidden;text-overflow: ellipsis;">
														57.401% (32.938) от банка<span class="bold" style='font-weight: bold;'>*</span></span>
													</td>
													<!-- end teamBet -->
													<td width="100">
														<img width="100" height="40" style="display: block;" src="https://24cyber.ru/img/mail/egb.png" alt="" class=" img-reponsive team__betResource team__betResource_left">
													</td>
													<td width="50">
														<span style="display:block;padding:5px;color:#2dc86f;border: 2px solid;border-radius:5px;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:20px;text-align:center;font-weight:bold;line-height:28px;-webkit-text-size-adjust:none;">3.036</span>
													</td>
												</tr>
											</table>
										</td>
										<!-- end team -->
										<td style="vertical-align:top;padding-top:39px;">
											<span style="color:#2dc86f;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:20px;font-weight:800;line-height:40px;font-weight: bold;-webkit-text-size-adjust:none;">-</span>
										</td>
										<!-- begin team -->
										<td class="team team_right" style="vertical-align: top;">
											<table width="500" height="120" border="0" cellpadding="0" cellspacing="0" style="margin:0 0 0 10px; padding:0;overflow: auto;">						
												<tr>
													<td width="50">
														<span style="display:block;padding:5px;color:#2dc86f;border: 2px solid;border-radius:5px;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:20px;text-align:center;font-weight:bold;line-height:28px;-webkit-text-size-adjust:none;">4.091</span>
													</td>
													<td width="100">
														<img width="100" height="40" style="display: block;" src="https://24cyber.ru/img/mail/egb.png" alt="EGB.com" class="img-reponsive team__betResource team__betResource_right">				
													</td>
													<!-- begin teamBet -->
													<td  width="143" class="teamBet teamBet_right" style="text-align: center;">
														<a href="#" class="btn teamBet__refer" target="_blank" style="background-color:#2dc86f;color:#f7f7f7;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:15px;line-height:24px;font-weight: normal;-webkit-text-size-adjust:none; height:25px;width:125px;padding:7px 12px;margin:0 auto;border-radius:5px;text-decoration:none;display:block;">Сделать ставку</a>
														<span class="teamBet__info" style="color:#b7bac0;display: block;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:13px;text-align:center;line-height:24px;-webkit-text-size-adjust:none;margin:3px 0 0;white-space: nowrap;width: 143px;overflow: hidden;text-overflow: ellipsis;">
														42.599% (24.444%) от банка<span class="bold" style='font-weight: bold;'>*</span></span>
													</td>
													<!-- end teamBet -->
													<td width='90' style="color:#333b3e;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;line-height:24px;font-weight: bold;-webkit-text-size-adjust:none;text-align:right;padding-right:7px;">
														LGD.Forever Young
													</td>
													<td width="65">
														<img width="65" height="65" style="display: block;" src="https://proxy.imgsmail.ru?email=shiningfinger%40list.ru&e=1515997996&h=EnUi80UsjRlL9hzlsWPlIQ&url171=MjRjeWJlci5ydS9pbWcvbG9nb3MvTEdELkZvcmV2ZXJfWW91bmcucG5n&is_https=1" alt="LGD.Forever Young" class="img-reponsive team__logo">
													</td>
												</tr>
											</table>
										</td>
										<!-- end team -->
									</tr>
								</table>
							</td>
						</tr>
						<!-- end bet's teams -->
					</table>
				</td>
			</tr>
			<!-- end bet -->
			<tr>
			<td>
				<table width="910" class="bet" border="0" cellpadding="0" cellspacing="0" style="background:url('https://24cyber.ru/img/mail/cup.png') no-repeat center 20px;background-size: 164px 155px;margin:0;padding:23px 0px 0;">
					<!-- begin bet's profit -->
					<tr>
						<td>
							<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;margin:0; padding:0;">
								<tr class="betMeta">
									<th class="betMeta__title" style="color:#333b3e;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:20px;font-weight:bold;line-height:24px;-webkit-text-size-adjust:none;text-align:center; z-index: 0;">
										Прибыль 5%
									</th>
								</tr>
								<tr>
									<th class="betMeta__date" style="color:#b7bac0;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;margin-top:7px;line-height:24px;-webkit-text-size-adjust:none;text-align:center;" colspan="" rowspan="" headers="">12:00, 10 января 2017</th>
								</tr>
							</table>
						</td>
					</tr>
					<!-- end bet's profit -->
					<!-- begin bet's teams -->
					<tr>
						<td>
							<table border="0" cellpadding="0" cellspacing="0" style="border-bottom: 1px solid rgba(210, 212, 216, 0.5);margin:0; padding:0;">
									<tr height='120'>
										<!-- begin team -->
										<td class="team team_left" style="vertical-align:top;">
											<table width="500" height="120" border="0" cellpadding="0" cellspacing="0" style="margin:0 10px 0 0; padding:0;">
												<tr>
													<td width="65">
														<img width="65" height="65" style="display:block;" src="https://24cyber.ru/img/mail/EG.png" alt="Evil Geniuses" class="img-reponsive team__logo">
													</td>
													<td width='90' style="color:#333b3e;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;line-height:24px;font-weight: bold;-webkit-text-size-adjust:none;padding-left:7px;">
														Evil Geniuses
													</td>
													<!-- begin teamBet -->
													<td width='143' class="teamBet teamBet_left" style="text-align: center;">
														<a href="#" class="btn teamBet__refer" target="_blank" style="background-color:#2dc86f;color:#f7f7f7;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:15px;line-height:24px;font-weight: normal;-webkit-text-size-adjust:none; height:25px;width:125px;padding:7px 12px;margin:0 auto;border-radius:5px;text-decoration:none;display:block;">Сделать ставку</a>
														<span class="teamBet__info" style="color:#b7bac0;display: block;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:13px;text-align:center;line-height:24px;-webkit-text-size-adjust:none;margin:3px 0 0;white-space:nowrap;width: 143px;overflow: hidden;text-overflow: ellipsis;">75% (70%) от банка<span class="bold" style='font-weight: bold;'>*</span></span>
													</td>
													<!-- end teamBet -->
													<td width="100">
														<img width="100" height="40" style="display: block;" src="https://24cyber.ru/img/mail/egb.png" alt="" class=" img-reponsive team__betResource team__betResource_left">
													</td>
													<td width="50">
														<span style="display:block;padding:5px;color:#2dc86f;border: 2px solid;border-radius:5px;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:20px;text-align:center;font-weight:bold;line-height:28px;-webkit-text-size-adjust:none;">2.1</span>
													</td>
												</tr>
											</table>
										</td>
										<!-- end team -->
										<td style="vertical-align:top;padding-top:39px;">
											<span style="color:#2dc86f;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:20px;font-weight:800;line-height:40px;font-weight: bold;-webkit-text-size-adjust:none;">-</span>
										</td>
										<!-- begin team -->
										<td class="team team_right" style="vertical-align:top;">
											<table width="500" height="120" border="0" cellpadding="0" cellspacing="0" style="margin:0 0 0 10px; padding:0;overflow: auto;">						
												<tr>
													<td width="50">
														<span style="display:block;padding:5px;color:#2dc86f;border: 2px solid;border-radius:5px;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:20px;text-align:center;font-weight:bold;line-height:28px;-webkit-text-size-adjust:none;">2.2</span>
													</td>
													<td width="100">
														<img width="100" height="40" style="display: block;" src="https://24cyber.ru/img/mail/egb.png" alt="EGB.com" class="img-reponsive team__betResource team__betResource_right">				
													</td>
													<!-- begin teamBet -->
													<td  width="143" class="teamBet teamBet_right" style="text-align: center;">
														<a href="#" class="btn teamBet__refer" target="_blank" style="background-color:#2dc86f;color:#f7f7f7;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:15px;line-height:24px;font-weight: normal;-webkit-text-size-adjust:none; height:25px;width:125px;padding:7px 12px;margin:0 auto;border-radius:5px;text-decoration:none;display:block;">Сделать ставку</a>
														<span class="teamBet__info" style="color:#b7bac0;display: block;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:13px;text-align:center;line-height:24px;-webkit-text-size-adjust:none;margin:3px 0 0;white-space: nowrap;width: 143px;overflow: hidden;text-overflow: ellipsis;">75% (70%) от банка<span class="bold" style='font-weight: bold;'>*</span></span>
													</td>
													<!-- end teamBet -->
													<td width='90' style="color:#333b3e;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;line-height:24px;font-weight: bold;-webkit-text-size-adjust:none;text-align:right;padding-right:7px;">
														Evil Geniuses
													</td>
													<td width="65">
														<img width="65" height="65" style="display: block;" src="https://24cyber.ru/img/mail/EG.png" alt="Evil Geniuses" class="img-reponsive team__logo">
													</td>
												</tr>
											</table>
										</td>
										<!-- end team -->
									</tr>
								</table>
							</td>
						</tr>
						<!-- end bet's teams -->
					</table>
				</td>
			</tr>
			<!-- end bet -->
		
	</table>
	<!-- end main -->

	<!-- begin footer -->
	<table  bgcolor="#47526d" border="0" cellpadding="0" cellspacing="0" style="width: 100%;color: #fff;margin:0; padding:0;background: linear-gradient(to right, #47526d 5%, #2a5f53 35%, #2a5f53 65%, #47526d 100%);" class="footer">
		<tr>
			<td>			
				<table style="color: #fff;width: 100%;max-width: 950px; margin:0 auto;padding: 15px 0 30px;width: 85%;" border="0" cellpadding="0" 
				cellspacing="0" >
					<tr height="80">
						<td class="footer__title">
							<a href="https://24cyber.ru" style="color: #f7f7f7;text-decoration:none;font-family: 'Open Sans',Arial, Helvetica, sans-serif;font-size:42px;font-weight:800;line-height:24px;text-transform: uppercase;" target="_blank">24cyber</a>
						</td>
						<td width="150">
							<img width="100" height="21" style='display:block;margin-top:8.5px;' src="https://24cyber.ru/img/mail/dota.png" alt="">
						</td>
						<td width="150">	
							<img width="79" height="34" style='display:block;' src="https://24cyber.ru/img/mail/csgo.png" alt="">
						</td>
					</tr>
					<tr>
						<td height="1" style="background-color: rgba(210, 212, 216, 0.2);"></td>
						<td height="1" style="background-color: rgba(210, 212, 216, 0.2);"></td>
						<td height="1" style="background-color: rgba(210, 212, 216, 0.2);"></td>
					</tr>
					<tr height="15"><td></td></tr>
					<tr>
						<td style="-webkit-text-size-adjust:none;font-size:15px;line-height:24px;font-family: 'Open Sans',Arial, Helvetica, sans-serif; color: rgba(210, 212, 216, 0.5);">&copy;2015&nbsp;&ndash;&nbsp;2018. Все права защищены</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!-- end footer -->
	
</body>
</html>