{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static '/24cyber/css/main.css' %}">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equive="X-UA-Compatible" content="IE=edge">

</head>
<body>
	<!-- begin header -->
	<header class="header">
		<!-- begin container -->
		<div class="container">
			<h1 class='header__title text-uppercase'>
				24<span class='header__title_color-green'>cyber</span>
			</h1>
		</div>
		<!-- end container -->
	</header>
	<!-- end header -->
	<!-- begin container -->
	<div class="container">
		<!-- begin main -->
		<main class="main">
			<!-- begin bet -->
			<section class="bet parent">
				<!-- begin betMeta -->
				<div class="betMeta text-center">
					<h2 class="betMeta__title">Прибыль 5%</h2>
					<time datetime="10.01.2017 12:00" class="betMeta__date">12:00, 10 января 2017</time>
				</div>
				<!-- end betMeta -->
				<!-- begin team -->
				<div class="team team_left parent">
					<img src="{% static '/24cyber/img/EG.png' %}" alt="Evil Geniuses" class="img-reponsive team__logo">
					<h3 class="team__title team__title_left">Evil Geniuses</h3>
					<!-- begin teamBet -->
					<div class="teamBet teamBet_left text-center">
						<a href="#" class="btn teamBet__refer" target="_blank">Сделать ставку</a>
						<p class="teamBet__info ">75% (70%) от банка<span class="bold">*</span></p>
					</div>
					<!-- end teamBet -->
					<img src="{% static '/24cyber/img/egb.png' %}" alt="EGB.com" class=" img-reponsive team__betResource team__betResource_left">
					<p class=" team__ratio text-center bold">2.1</p>
				</div>
				<!-- end team -->
				
				<!-- begin team -->
				<div class="team team_right parent">
					<p class="team__ratio text-center bold">2.2</p>
					<img src="{% static '/24cyber/img/egb.png' %}" alt="EGB.com" class="img-reponsive team__betResource team__betResource_right">
					<!-- begin teamBet -->
					<div class="teamBet teamBet_right text-center">
						<a href="#" class="btn teamBet__refer" target="_blank">Сделать ставку</a>
						<p class="teamBet__info">75% (70%) от банка<span class="bold">*</span></p>
					</div>
					<!-- end teamBet -->
					<h3 class="team__title team__title_right text-right">Evil Geniuses</h3>
					<img src="{% static '/24cyber/img/EG.png' %}" alt="Evil Geniuses" class="img-reponsive team__logo">
				</div>
				<!-- end team -->
			</section>
			<!-- end bet -->
			<!-- begin bet -->
			<section class="bet parent">
				<!-- begin betMeta -->
				<div class="betMeta text-center">
					<h2 class="betMeta__title">Прибыль 5%</h2>
					<time datetime="10.01.2017 12:00" class="betMeta__date">12:00, 10 января 2017</time>
				</div>
				<!-- end betMeta -->
				<!-- begin team -->
				<div class="team team_left parent">
					<img src="{% static '/24cyber/img/EG.png' %}" alt="Evil Geniuses" class="img-reponsive team__logo">
					<h3 class="team__title team__title_left">Evil Geniuses</h3>
					<!-- begin teamBet -->
					<div class="teamBet teamBet_left text-center">
						<a href="#" class="btn teamBet__refer" target="_blank">Сделать ставку</a>
						<p class="teamBet__info ">75% (70%) от банка<span class="bold">*</span></p>
					</div>
					<!-- end teamBet -->
					<img src="{% static '/24cyber/img/egb.png' %}" alt="EGB.com" class=" img-reponsive team__betResource team__betResource_left">
					<p class=" team__ratio text-center bold">2.1</p>
				</div>
				<!-- end team -->
				
				<!-- begin team -->
				<div class="team team_right parent">
					<p class="team__ratio text-center bold">2.2</p>
					<img src="{% static '/24cyber/img/egb.png' %}" alt="EGB.com" class="img-reponsive team__betResource team__betResource_right">
					<!-- begin teamBet -->
					<div class="teamBet teamBet_right text-center">
						<a href="#" class="btn teamBet__refer" target="_blank">Сделать ставку</a>
						<p class="teamBet__info">75% (70%) от банка<span class="bold">*</span></p>
					</div>
					<!-- end teamBet -->
					<h3 class="team__title team__title_right text-right">Evil Geniuses</h3>
					<img src="{% static '/24cyber/img/EG.png' %}" alt="Evil Geniuses" class="img-reponsive team__logo">
				</div>
				<!-- end team -->
			</section>
			<!-- end bet -->
			<!-- begin bet -->
			<section class="bet parent">
				<!-- begin betMeta -->
				<div class="betMeta text-center">
					<h2 class="betMeta__title">Прибыль 5%</h2>
					<time datetime="10.01.2017 12:00" class="betMeta__date">12:00, 10 января 2017</time>
				</div>
				<!-- end betMeta -->
				<!-- begin team -->
				<div class="team team_left parent">
					<img src="{% static '/24cyber/img/EG.png' %}" alt="Evil Geniuses" class="img-reponsive team__logo">
					<h3 class="team__title team__title_left">Evil Geniuses</h3>
					<!-- begin teamBet -->
					<div class="teamBet teamBet_left text-center">
						<a href="#" class="btn teamBet__refer" target="_blank">Сделать ставку</a>
						<p class="teamBet__info ">75% (70%) от банка<span class="bold">*</span></p>
					</div>
					<!-- end teamBet -->
					<img src="{% static '/24cyber/img/egb.png' %}" alt="EGB.com" class=" img-reponsive team__betResource team__betResource_left">
					<p class=" team__ratio text-center bold">2.1</p>
				</div>
				<!-- end team -->
				
				<!-- begin team -->
				<div class="team team_right parent">
					<p class="team__ratio text-center bold">2.2</p>
					<img src="{% static '/24cyber/img/egb.png' %}" alt="EGB.com" class="img-reponsive team__betResource team__betResource_right">
					<!-- begin teamBet -->
					<div class="teamBet teamBet_right text-center">
						<a href="#" class="btn teamBet__refer" target="_blank">Сделать ставку</a>
						<p class="teamBet__info">75% (70%) от банка<span class="bold">*</span></p>
					</div>
					<!-- end teamBet -->
					<h3 class="team__title team__title_right text-right">Evil Geniuses</h3>
					<img src="{% static '/24cyber/img/EG.png' %}" alt="Evil Geniuses" class="img-reponsive team__logo">
				</div>
				<!-- end team -->
			</section>
			<!-- end bet -->
			<!-- begin bet -->
			<section class="bet parent">
				<!-- begin betMeta -->
				<div class="betMeta text-center">
					<h2 class="betMeta__title">Прибыль 5%</h2>
					<time datetime="10.01.2017 12:00" class="betMeta__date">12:00, 10 января 2017</time>
				</div>
				<!-- end betMeta -->
				<!-- begin team -->
				<div class="team team_left parent">
					<img src="{% static '/24cyber/img/EG.png' %}" alt="Evil Geniuses" class="img-reponsive team__logo">
					<h3 class="team__title team__title_left">Evil Geniuses</h3>
					<!-- begin teamBet -->
					<div class="teamBet teamBet_left text-center">
						<a href="#" class="btn teamBet__refer" target="_blank">Сделать ставку</a>
						<p class="teamBet__info ">75% (70%) от банка<span class="bold">*</span></p>
					</div>
					<!-- end teamBet -->
					<img src="{% static '/24cyber/img/egb.png' %}" alt="EGB.com" class="img-reponsive team__betResource team__betResource_left">
					<p class="team__ratio text-center bold">2.1</p>
				</div>
				<!-- end team -->
				
				<!-- begin team -->
				<div class="team team_right parent">
					<p class="team__ratio text-center bold">2.2</p>
					<img src="{% static '/24cyber/img/egb.png' %}" alt="EGB.com" class="img-reponsive team__betResource team__betResource_right">
					<!-- begin teamBet -->
					<div class="teamBet teamBet_right text-center">
						<a href="#" class="btn teamBet__refer" target="_blank">Сделать ставку</a>
						<p class="teamBet__info">75% (70%) от банка<span class="bold">*</span></p>
					</div>
					<!-- end teamBet -->
					<h3 class="team__title team__title_right text-right">Evil Geniuses</h3>
					<img src="{% static '/24cyber/img/EG.png' %}" alt="Evil Geniuses" class="img-reponsive team__logo">
				</div>
				<!-- end team -->
			</section>
			<!-- end bet -->
			<!-- begin bet -->
			<section class="bet parent">
				<!-- begin betMeta -->
				<div class="betMeta text-center">
					<h2 class="betMeta__title">Прибыль 5%</h2>
					<time datetime="10.01.2017 12:00" class="betMeta__date">12:00, 10 января 2017</time>
				</div>
				<!-- end betMeta -->
				<!-- begin team -->
				<div class="team team_left parent">
					<img src="{% static '/24cyber/img/EG.png' %}" alt="Evil Geniuses" class="img-reponsive team__logo">
					<h3 class="team__title team__title_left">Evil Geniuses</h3>
					<!-- begin teamBet -->
					<div class="teamBet teamBet_left text-center">
						<a href="#" class="btn teamBet__refer" target="_blank">Сделать ставку</a>
						<p class="teamBet__info ">75% (70%) от банка<span class="bold">*</span></p>
					</div>
					<!-- end teamBet -->
					<img src="{% static '/24cyber/img/egb.png' %}" alt="EGB.com" class="img-reponsive team__betResource team__betResource_left">
					<p class="team__ratio text-center bold">2.1</p>
				</div>
				<!-- end team -->
				
				<!-- begin team -->
				<div class="team team_right parent">
					<p class="team__ratio text-center bold">2.2</p>
					<img src="{% static '/24cyber/img/egb.png' %}" alt="EGB.com" class="img-reponsive team__betResource team__betResource_right">
					<!-- begin teamBet -->
					<div class="teamBet teamBet_right text-center">
						<a href="#" class="btn teamBet__refer" target="_blank">Сделать ставку</a>
						<p class="teamBet__info">75% (70%) от банка<span class="bold">*</span></p>
					</div>
					<!-- end teamBet -->
					<h3 class="team__title team__title_right text-right">Evil Geniuses</h3>
					<img src="{% static '/24cyber/img/EG.png' %}" alt="Evil Geniuses" class="img-reponsive team__logo">
				</div>
				<!-- end team -->
			</section>
			<!-- end bet -->
		</main>
		<!-- end main -->
	</div>
	<!-- end container -->

	<!-- begin footer -->
	<footer class="footer">
		<!-- begin container -->
		<div class="container parent">
			<h1 class="footer__title text-uppercase child">24cyber</h1>
			<!-- begin imageContainer -->
			<div class="imageContainer imageContainer_name-dota child">
				<figure class="imageContainer__image imageContainer__image_name-dota"></figure>
			</div>
			<!-- end imageContainer -->
			<!-- begin imageContainer -->
			<div class="imageContainer imageContainer_name-csgo child">
				<figure class="imageContainer__image imageContainer__image_name-csgo"></figure>
			</div>
			<!-- end imageContainer -->
			
			<p class="child footer__copyright">&copy;2015&nbsp;&ndash;&nbsp;2018.  Все права защищены</p>
		</div>
		<!-- end container -->
	</footer>
	<!-- end footer -->
</body>
</html>