.success
  .container
    h1.text-center.success__title Оставайтесь на связи!:)
    p.success__text Скоро я зайду в свой почтовый ящик и увижу ваше сообщение, после чего буду рад обсудить с вами то, что вас интересует. Снюхаемся!
    a.success__redirect(href="{% url 'index' %}") Вренуться к просмотру Портфолио