/* Form connect */
#formWrapper {
  width: 50%;
  margin-top: 50px;
  @include breakpoint($xs) {
    width: 100%;
  }
}
.connect__connectForm {
  @extend %full-width;
}
.elemForm {
  & label {
    @extend %zero-opacity;
    font-size: (20em / 16);
    position: relative;
    top: 2em;
    z-index: 0;
    transition: top .3s ease,opacity .3s ease;
    margin: 5px 0;
    &::after {
      content: '*';
      color: #f0f;
    }
    &[for='phone']::after {
      content: '';
    }
  }
  &-filled label {
    color: #aaa;
    top: 0;
    @extend %visible-opacity;
  }
  &-focused label {
    color: $white;
  }
}
.elemForm__item {
  background-color: transparent;
  height: 40px;
  @extend %full-width;
  z-index: 1;
  @extend %font-size-22;
  border: 0;
  border-bottom: 1px solid darken($white, 20%);
  color: #aaa;
  &:focus {
    outline: 0;
    color: $white;
  }
}
::-webkit-input-placeholder {
  @extend %white-color;
  @extend %font-size-22;
}
.elemForm__item[name="message"] {
  min-height: 110px;
}
.sendBtn__btn {
  @extend %block;
  @extend %font-size-22;
  @extend %center-margin;
  @extend %relative;
  padding: 1% 2%;
  margin-top: 15px;
  background-color: darken($transviolet, 10%);
  transition: top 0.5s;
  &:hover {
    color: currentColor;
  }
  &:active {
    top: -5px;
  }
}