/* Form connect */
#formWrapper {
  width: 100%;
}
.connect__connectForm {
  width: 100%;
  margin: 15px auto;
}
.elemForm {
  & label {
    opacity: 0;
    font-size: (20em / 16);
    position: relative;
    top: 2em;
    z-index: 0;
    transition: top .3s ease,opacity .3s ease;
    margin: 5px 0;
    &::after {
      content: '*';
      color: #f0f;
    }
    &[for='phone']::after {
      content: '';
    }
  }
  &-filled label {
    color: #aaa;
    top: 0;
    opacity: 1;
  }
  &-focused label {
    color: #fff;
  }
}
.elemForm__item {
  background-color: transparent;
  height: 40px;
  width: 100%;
  z-index: 1;
  font-size: (22em / 16);
  border: 0;
  border-bottom: 1px solid #fff;
  color: #aaa;
  &:focus {
    outline: 0;
    color: #fff;
  }
}
::-webkit-input-placeholder {
  color: #fff;
  font-size: (22em / 16);
}
.elemForm__item[name="message"] {
  min-height: 110px;
}
.sendBtn__btn {
  display: block;
  padding: 1% 2%;
  margin: 15px auto 0;
  font-size: (24em / 16);
  background-color: darken($transviolet, 10%);
  position: relative;
  transition: top 0.5s;
  &:hover {
    color: currentColor;
  }
  &:active {
    top: -5px;
  }
}