.techno__techList {
  padding-left: 0;
}
.techList__itemTechList {
  list-style: none;
  height: 25px;
  margin: 20px auto 0;
  padding: 5px 0 0 35px;
  position: relative;
}

.itemTechList__text {
  text-align: left;
  padding-left: 10px;
  background-color: $sweetbrown;
  color: #e65e66;
  font-weight: 600;
}

.itemTechList__icon {
  position: absolute;
  height: 25px;
  width: 30px;
  right: calc(100% - 25px);
  top: 0;
  background: no-repeat center center;

}