/*******

 PORTFOLIO section

*******/
#portfolio {
  background-color: $ghostcyen;
  position: relative;
  z-index: 1;
  width: 100%;
  &::after {
    @include flagTo($ghostcyen);
  }
}
.portfolio {
  justify-content: flex-start;
  padding-bottom: 50px;
  margin: 0 auto;
}
.portfolio__title {
  margin: 0 auto;
  width: 100%;
}
.title__name {
  margin: 60px auto 0;
}
.portfolio__works {
  width: 100%;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}
.works__elemWork {
  box-shadow: 0 0 5px rgba(0, 0, 0, .9);
  max-width: 45%;
  max-height: 650px;
  margin: 20px auto;
  background-color: #fff;
  @media (max-width: 768px) {
    max-width: 80%;
  }
  @media (max-width: 449px) {
    max-width: 100%; 
  }
}
/*******

 END PORTFOLIO section

*******/