@font-face {
	font-family: 'Eurofurence';
	src: url('../fonts/Eurofurence/eurof_bold.eot');
	src: local('Eurofurence'), url('../fonts/Eurofurence/eurof_bold.woff') format('woff'), url('../fonts/Eurofurence/eurof_bold.ttf') format('truetype'), url('../fonts/Eurofurence/eurof_bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Eurofurence';
	src: url('../fonts/Eurofurence/eurof_normal.eot');
	src: local('Eurofurence'), url('../fonts/Eurofurence/eurof_normal.woff') format('woff'), url('../fonts/Eurofurence/eurof_normal.ttf') format('truetype'), url('../fonts/Eurofurence/eurof_normal.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Eurofurence';
	src: url('../fonts/Eurofurence/eurof_300.eot');
	src: local('Eurofurence'), url('../fonts/Eurofurence/eurof_300.woff') format('woff'), url('../fonts/Eurofurence/eurof_300.ttf') format('truetype'), url('../fonts/Eurofurence/eurof_300.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'KG Second Chances';
	src: url('../fonts/KGSecondChances/KGSecondChancesSketch.eot');
	src: local('KG Second Chances'), url('../fonts/KGSecondChances/KGSecondChancesSketch.woff') format('woff'), url('../fonts/KGSecondChances/KGSecondChancesSketch.ttf') format('truetype'), url('../fonts/KGSecondChances/KGSecondChancesSketch.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}