.main {
  justify-content: space-between;
}

.intro, #main, #hobbies, #connect, #skills, #portfolio {
	padding-bottom: 125px;
	@include breakpoint($xs) {
		padding-left: 5%;
		padding-right: 5%;
		padding-bottom: 100px;
	}
}
@import 'intro/intro.scss';
@import 'portfolio/portfolio.scss';
@import 'skills/skills.scss';
@import 'hobbies/hobbies.scss';
@import 'connect/connect.scss';