/*******

 HOBBIES section

*******/
#hobbies {
  @extend %full-width;
  @extend %relative;
  background: $palegreen;
  padding-top: 19px;
  color: $darkgreen;
  &::after {
   @include flagTo($palegreen);  
  }
}
.hobbies {
  justify-content: space-between;
  & .hobbies__hobby {
    width: span(5);
    margin-top: 60px;
    &:last-child {
      width: span(8);
      @extend %center-margin;
      @include breakpoint($xs) {
        width: span(12);
      }
    }
    @include breakpoint($xs) {
      width: span(12);
    }
  }
}
@import "title/title.scss";
@import "hobby/hobby.scss";
/*******

 END HOBBIES section

*******/