ul.concepts__conceptsList.conceptsList
  | {% for concept in concepts %}
  li.conceptsList__item.item.showTip(data-supertip="{{concept.tooltip}}")
    a.item__refer.anchor(href="{{concept.link}}") {{concept.name}}
  | {% endfor %}