.concepts__conceptsList {
  @extend %zero-padding;
}
.conceptsList__item {
  height: 25px;
  @extend .techList__itemTechList;
  padding-left: 0;
}
.item__refer {
  @extend %font-size-18;
  font-weight: 600;
  color: $sweetbrown;
  transition: color 1s;
  &:hover {
    @extend .item__refer;
    @extend %white-color;
  }
  &:active {
    @extend .item__refer;
  }
  &:focus {
    @extend .item__refer;
  }
}