section#hobbies
  .hobbies.container
    //Hobbies title.
    .hobbies__title.title
      h2.title__name Hobbies
      p.title__description  Out of work, I enjoy these things.
    //Drawing's section.
    section.hobbies__hobby.hobby
      .hobby__img.hobby__img-drawing
      h3.hobby__title.text-center Drawing
      .hobby__paragraph When i draw, i dive into my amazing  imaginary world, where everyone and everything is very beautiful; unfortunately, none of my pictures aren't similar  to a thing of my little world.
    //Ukulele's section.
    section.hobbies__hobby.hobby
      .hobby__img.hobby__img-ukulele
      h3.hobby__title.text-center The Ukulele
      p.hobby__paragraph The playing on ukulele is wonderful. I enjoy a each sound of this musical instrument. But also, I sure a any other musical instrument don't inferior to it; therefore, I going to master another one, and It will be a piano.  
    //Languege's section.
    section.hobbies__hobby.hobby
      .hobby__img.hobby__img-languages
      h3.hobby__title.text-center Languages
      p.hobby__paragraph Learning languages is very important. When you know many languages, new worlds are opening before you, and you can swim among other awesome ideas and thoughts. Now, i swim among english and japanese worlds.