//Drawing's section.
section.hobbies__hobby.hobby
  .hobby__img.hobby__img-drawing
  h3.hobby__title.text-center Рисование
  p.hobby__paragraph Когда я рисую, я погружаюсь в воображаемый мир, где всё красиво и идеально, к сожалению, пока что это идеальное не отражается на моих рисунках.
//Ukulele's section.
section.hobbies__hobby.hobby
  .hobby__img.hobby__img-ukulele
  h3.hobby__title.text-center Укулеле
  p.hobby__paragraph Игра на укулеле - прекрасна. Я наслаждаюсь каждым зуком этого музыкального инструмента. Но также, я уверен, что любой дрдугой инструмент не уступает гавайской гитаре, поэтому по-мимо него я осваиваю ещё один - пианино. 
//Languege's section.
section.hobbies__hobby.hobby
  .hobby__img.hobby__img-languages
  h3.hobby__title.text-center Языки
  p.hobby__paragraph Изучение языков очень важно. Когда вы знаете много языков, новые миры открываются перед ногами, и вы можете плавать среди, новых или старых, крутых или не очень, идей и мыслей. Сейчас, я плаваю среди английских и японских мыслей.