/* Socials profiles */
.connect__socials {
  width: 40%;
  @extend %zero-padding;
  @include breakpoint($xs) {
    width: 100%;
  }
  
}
.socials__contact {
  width: 50%;
  margin-top: 50px;
  list-style: none;
}
.fa-free-code-camp  {

  & + .cover__text {
    @extend .fa-free-code-camp;
  }
}

.contact__cover {
  transition: color 0.5s;
  color: $white;
  &:hover {
    color: darken($white, 20%);  
  }
  &:focus {
    @extend %white-color;
  }
  &:active {
    @extend %white-color;
  }
}