/* Socials profiles */
.connect__socials {
  width: 40%;
  padding: 0;
  @include breakpoint($xs) {
    // flex-direction: column;
    width: 100%;


  }
  
}
.socials__contact {
  width: 50%;
  margin-top: 50px;
  list-style: none;
}
.socials__contact:first-child .cover__icon {

}
.cover__icon {

}
.fa-free-code-camp  {

  & + .cover__text {
    @extend .fa-free-code-camp;
    @include breakpoint($xs) {
      
    }
  }
  @include breakpoint($xs) {}
}

.contact__cover {
  transition: color 0.5s;
  &:hover {
    color: darken(#fff, 20%);  
  }
  &:focus {
    color: #fff;
  }
  &:active {
    color: #fff;  
  }
}