{% extends 'base.html' %}{% block content %}
<ul class="articles list-unstyled">
  <li class="article">
    <h1 class="articlePreview__title"><a href="article.html" class="articlePreview">Моя замечательная статья</a></h1>
    <p class="articlePreview__paragraph">Если вы веб разработчик, советую вам создать портфолио собственными руками. А дальше плейсхолдер&amp;helliph;</p>
  </li>
  <li class="article">
    <h1 class="articlePreview__title"><a href="article.html" class="articlePreview">Плейсхолдер для заголовка</a></h1>
    <p class="articlePreview__paragraph">Если вы веб разработчик, советую вам создать портфолио собственными руками. А дальше плейсхолдер&amp;helliph;</p>
  </li>
  <li class="article">
    <h1 class="articlePreview__title"><a href="article.html" class="articlePreview">Как создать собственное портфолио</a></h1>
    <p class="articlePreview__paragraph">Если вы веб разработчик, советую вам создать портфолио собственными руками. А дальше плейсхолдер&amp;helliph;</p>
  </li>
</ul>{% endblock %}
