{% load static %}
<!DOCTYPE html>
<html lang="ru" class="no-js">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="dns-prefetch" href="http://localhost:8000">
    <link rel="subresource" href="/static/portfolio/css/app.css">
    <link rel="subresource" href="/static/portfolio/js/app.js">
    <link rel="prefetch" href="/static/portfolio/css/app.css">
    <link rel="prefetch" href="/static/portfolio/js/app.js">
    <link rel="prerender" href="/protfolio">
    <link rel="prerender" href="/about">
    <link rel="prerender" href="/technologies">
    <link rel="prerender" href="/articles">
    <link rel="preload" href="/static/portfolio/css/app.css" as="style">
    <link rel="preload" href="/static/portfolio/js/app.js" as="script">{% if page.page_title %}
    <title>{{ page.page_title }}</title>{% else %}
    <title>Page</title>{% endif %} {% if page.meta %}
    <meta name="description" content="{{ page.meta }}">{% else %}
    <meta name="description" content="No meta">{% endif %}
    <link rel="stylesheet" href="{% static 'portfolio/css/app.css' %}" media="all">
    <style>
      .skip {
        position: fixed;
        padding: 1em .5em;
        text-aligin: center;
        border-radius: 3px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #8c4b65;
        -webkit-transform: translateX(-110%);
        transform: translateX(-110%);
        will-change: transform;
        z-index: 10;
        color: #f7f7f7;
        top: 100px;
      }

      .skip:focus {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        color: #f7f7f7;
      }

      .curtain,
      .preloader {
        position: fixed;
        will-change: opacity;
        z-index: 10;
      }

      .curtain {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #8c4b65;
      }

      .preloader {
        top: 40%;
        left: 47.5%;
        width: 10%;
      }

    </style>
  </head>

  <body><a href="#main" class="skip slideTo">К основному содержимому</a>
    <!--BEGIN out-->
    <div class="out">
      <!--BEGIN header-->
      <header itemscope itemtype="http://schema.org/Person" class="header">
        <!--BEGIN brand-->
        <div class="head parent row">
          <a href="{% url 'portfolio' %}" class="brand">
            <div class="brandImage">
              <figure style="background-image: url('/media/{{ settings.thumb_photo.image }}');" class="brandImage__image"></figure>
            </div>
            <h1 itemprop="name" class="brand__title">Филипп Журавлёв</h1>
          </a>
          <!--BEGIN contacts-->
          <div class="contacts"><a itemprop="email" href="mailto:{{ settings.email }}" class="contacts__contact">{{ settings.email }} </a>Skype:&nbsp; <a itemprop="telephone" href="skype:{{ settings.skype }}?add" class="contacts__contact">{{ settings.skype }}</a></div>
        </div>
        <!--END contacts-->
        <nav class="navigation">
          <ul class="navList">
            <li data-position="bottomRight" class="navListItem navListItem_round-topLeft text-right"><a href="{% url 'portfolio' %}" class="navListItem__refer">Портфолио</a></li>
            <li data-position="bottomLeft" class="navListItem navListItem_round-topRight"><a href="{% url 'about' %}" class="navListItem__refer">Обо мне</a></li>
            <li data-position="topRight" class="navListItem navListItem_round-bottomLeft text-right"><a href="{% url 'connect' %}" class="navListItem__refer">Технологии</a></li>
            <li data-position="topLeft" class="navListItem navListItem_round-bottomRight"><a href="{% url 'articles' %}" class="navListItem__refer">Статьи</a></li>
            <li id="centeredMenuButton" data-position="centered" class="navListItem navListItem_name-main"><a href="{% url 'portfolio' %}" class="navListItem__refer"></a></li>
          </ul>
        </nav>
      </header>
      <!--END header-->
      <!--BEGIN main-->
      <main id="main" class="main">
        <div class="container">{% block content %} {% endblock %}</div>
      </main>
      <!--BEGIN footer-->
      <footer itemscale itemtype="http://scheme.com/Person" class="footer">
        <div class="container">
          <ul class="footerContacts">
            <li class="contacts__item">Электронная почта: <a href="mailto: {{ settings.email }}" itemprop="email"> {{ settings.email }}</a></li>
          </ul>
        </div>
      </footer>
    </div>
    <!--END out-->{% block settings.widgets %} {% endblock %}
    <script src="{% static 'portfolio/js/app.js' %}" async></script>
    <script>
      (function(i, s, o, g, r, a, m)
      {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function()
        {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-103835197-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
  <link rel="icon" href="{% static 'portfolio/img/favicon.ico' %}">
  <script>
    if ('serviceWorker' in navigator)
    {
      navigator.serviceWorker.register("{% static '/portfolio/js/sw.js' %}")
        .then(function(reg)
        {
          console.log(true);
        }).catch(function(err)
        {
          console.log("No it didn't. This happened: ", err)
        });
    }

  </script>
  <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
<![endif]-->

</html>
