{% extends 'base.html' %}{% block content %}
<ul class="works list-unstyled">
  <!--BEGIN work-->
  <li class="work"><a href="work.html" class="work__refer"><img data-src="./img/1.png" class="img-responsive work__image lozad"/><h2 class="work__title">Fashinable Cards</h2><!--BEIGN tags --><ul class="tags"><li class="label label-default">React</li><li class="label label-default">Django</li><li class="label label-default">Css</li></ul><!--END tags --></a></li>
  <!--END work-->
  <!--BEGIN work-->
  <li class="work"><a href="work.html" class="work__refer"><img data-src="./img/2.png" class="img-responsive work__image lozad"/><h2 class="work__title">Golden Theme</h2><!--BEIGN tags --><ul class="tags"><li class="label label-default">JavaSctipt</li><li class="label label-default">Html</li><li class="label label-default">Css</li><li class="label label-default">jQuery</li></ul><!--END tags --></a></li>
  <!--END work-->
  <!--BEGIN work-->
  <li class="work"><a href="work.html" class="work__refer"><img data-src="./img/3.png" class="img-responsive work__image lozad"/><h2 class="work__title">Slider</h2><!--BEIGN tags --><ul class="tags"><li class="label label-default">GreenSock</li><li class="label label-default">JavaScript</li><li class="label label-default">Css</li></ul><!--END tags --></a></li>
  <!--END work-->
  <!--BEGIN work-->
  <li class="work"><a href="work.html" class="work__refer"><img data-src="./img/4.png" class="img-responsive work__image lozad"/><h2 class="work__title">Gaming Fun</h2><!--BEIGN tags --><ul class="tags"><li class="label label-default">React</li><li class="label label-default">Django</li><li class="label label-default">Css</li></ul><!--END tags --></a></li>
  <!--END work-->
</ul>{% endblock %}
