{% extends 'base.html' %}{% block content %}
<section class="technologies">
  <h1 class="technologiesTitle text-uppercase centered parent">инструментарий
    <div class="imageContainer imageContainer_gear child">
      <figure class="imageContainer__image imageContainer__image_gear"></figure>
    </div>для разработки</h1>
  <ul class="technologiesList parent centered">
    <li class="imageContainer technology child imageContainer_bootstrap">
      <figure title="Bootstrap" class="imageContainer__image technology__image imageContainer__image_bootstrap"></figure>
    </li>
    <li class="imageContainer technology child imageContainer_html">
      <figure title="HTML5" class="imageContainer__image technology__image imageContainer__image_html"></figure>
    </li>
    <li class="imageContainer technology child imageContainer_sass">
      <figure title="Sass" class="imageContainer__image technology__image imageContainer__image_sass"></figure>
    </li>
    <li class="imageContainer technology child imageContainer_git">
      <figure title="GitHub" class="imageContainer__image technology__image imageContainer__image_git"></figure>
    </li>
    <li class="imageContainer technology child imageContainer_gulp">
      <figure title="Gulp" class="imageContainer__image technology__image imageContainer__image_gulp"></figure>
    </li>
    <li class="imageContainer technology child imageContainer_js">
      <figure title="JavaScript" class="imageContainer__image technology__image imageContainer__image_js"></figure>
    </li>
    <li class="imageContainer technology child imageContainer_jquery">
      <figure title="jQuery" class="imageContainer__image technology__image imageContainer__image_jquery"></figure>
    </li>
    <li class="imageContainer technology child imageContainer_react">
      <figure title="React" class="imageContainer__image technology__image imageContainer__image_react"></figure>
    </li>
    <li class="imageContainer technology child imageContainer_redux">
      <figure title="Redux" class="imageContainer__image technology__image imageContainer__image_redux"></figure>
    </li>
    <li class="imageContainer technology child imageContainer_figma">
      <figure title="Figma" class="imageContainer__image technology__image imageContainer__image_figma"></figure>
    </li>
    <li class="imageContainer technology child imageContainer_python">
      <figure title="Python" class="imageContainer__image technology__image imageContainer__image_python"></figure>
    </li>
    <li class="imageContainer technology child imageContainer_django">
      <figure title="Django" class="imageContainer__image technology__image imageContainer__image_django"></figure>
    </li>
    <li class="imageContainer technology child imageContainer_postgres">
      <figure title="Postgresql" class="imageContainer__image technology__image imageContainer__image_postgres"></figure>
    </li>
  </ul>
</section>{% endblock %}
