{% extends 'base.html' %}{% block content %}
<nav class="worksPagination"><a href="" class="previous">Предыдущая <h4 class="workName">DestPest</h4></a>
  <h2 class="currentWork text-center">Fashinable Cards<br/><a href="https://shining-present.ru/fashinableCards/" class="currentWork__refer not-follow">https://shining-present.ru/fashinableCards/</a></h2><a href="" class="next text-right">Следующая<h4 class="workName">Gaming Fun</h4></a></nav>
<div
  class="task">
  <h3 class="task__title">Задача</h3>
  <p class="task__paragraph">Нужно было построить приложение и я его построил. Сейчас оно функционирует, так как было запланированно в изначальной задумке. Поддерживается оно одним безымянным разработчиком, а этот текст не несёт никакой информативности.</p>
  </div>
  <ul class="presentWork">
    <li class="presentWorkItem">
      <p class="presentWorkItem__description">Это небольшое приложение, разделённое на 2 модуля - карточки стилей с информацией о них и форма заказа. Их можно прикуручивать к сайту по отдельности. </p><img data-src="./img/p1.png" class="fade lozad presentWorkItem__image img-responsive" /></li>
    <li
      class="presentWorkItem">
      <p class="presentWorkItem__description">Это небольшое приложение, разделённое на 3 модуля - карточки стилей с информацией о них и форма заказа. Их можно прикуручивать к сайту по отдельности.</p><img data-src="./img/p2.png" class="fade lozad presentWorkItem__image img-responsive" /></li>
      <li
        class="presentWorkItem"><img data-src="./img/p3.png" class="fade lozad presentWorkItem__image img-responsive" /></li>
        <li class="presentWorkItem">
          <p class="presentWorkItem__description">Это небольшое приложение, разделённое на 2 модуля - карточки стилей с информацией о них и форма заказа. Их можно прикуручивать к сайту по отдельности. </p><img data-src="./img/p4.png" class="fade lozad presentWorkItem__image img-responsive"
          /></li>
        <li class="presentWorkItem"><img data-src="./img/p5.png" class="fade lozad presentWorkItem__image img-responsive" /></li>
  </ul>{% endblock %}
