.not-follow
	+after
	z-index: 0
	@extend %relative
	padding-right: .7em
	&:after
		background-image: url('./../img/icons/external_link.png')
		background-size: .5em
		background-repeat: no-repeat
		top: 0
		height: .5em
		right: 0
		width: .5em
		left: auto
.articleMeta
	margin-top: 0
.previous, .next, .navListItem__refer
	text-decoration: none
.work__refer, .navListItem__refer, .previous, .next
	&:hover
		text-decoration: none
.work, .previous, .next
	transition: 0.2s ease-in-out
	will-change: transform, box-shadow
	transform-style: preverse-3d
	&:hover
		box-shadow: 0 10px 20px $shadow
		transform: scale(1.01, 1.01)
.header
	padding-bottom: 6em
	@include breakpoint($xxs) 
		padding-bottom: 4em
.header, .presentWorkItem, .presentWork, .footer
	border-style: solid
	border-color: lighten($gray, 50%)
.header, .presentWorkItem:not(:last-child)
	border-bottom-width: 1px
.head, 
.brand, 
.contacts, 
.navList, 
.navListItem, 
.works, 
.worksPagination, 
.main > .container, 
.presentWorkItem, 
.presentWork, .technologiesTitle
	align-items: center
.parent, .head, 
.brand, 
.contacts, 
.navList, 
.navListItem, 
.works, 
.worksPagination, 
.main > .container, 
.presentWorkItem, 
.presentWork, .technologiesTitle
	display: flex
.head, .brand, .contacts, .navList, .navListItem, .works, .worksPagination, .technologiesTitle, .parent
	flex-flow: row wrap
.brand, .contacts
	@include breakpoint($xs)
		width: span(12)
		justify-content: center
		margin-top: 1em
.child
	flex: 1 0 20%

.head, .worksPagination
	justify-content: space-between

.works
	justify-content: space-around
	width: span(12)
.previous

	// padding-right: 0.5em
.previous, .next
	padding: 0.2em 0.5em
	color: $blue

.currentWork
	&__refer
		font-size: (9em / 16)
		white-space: nowrap
		overflow: hidden
		display: block
		margin-top: .5em
		text-overflow: ellipsis
.head 
	background-color: $lightGray
	padding: 0.5em 3.8em
	@include breakpoint($xs)
		padding: 0 2em 2em

=b($media)
	@include breakpoint($media)
		@content

.brand, .contacts, .navListItem
	width: span(6)

.brandImage, 
.work, 
.previous,
.next,
.currentWork
	width: span(4)
.previous,
.next	 
	background-image: none

	@include breakpoint($md)
		width: span(3)
	@include breakpoint($sm-less)
		width: span(6)
		padding-top: 0.5em

.previous
	@include breakpoint($sm-less)
		order: 2
		text-align: right
.next
	@include breakpoint($sm-less)
		text-align: left
.currentWork
	margin-left: auto
	margin-right: auto
	@include breakpoint($md)
		width: span(6)
	@include breakpoint($sm-less)
		width: span(12)
	&__refer
		@include breakpoint($xs)
			font-size: (6em / 16)

	@include breakpoint($md)

.work__refer
	color: $darkGray
	padding: 0.5em
.work
	margin-top: 1em	
	padding: 1em
	will-change: transform, box-shadow
	transform-style: preserve-3d
	@include breakpoint($sm)
		width: span(6)
	@include breakpoint($xs)
		width: span(12)
	&__image 
		min-width: span(12)


.brandImage
	max-width: 69px
	width: span(3)
	&__image
		+round
		padding-bottom: (2491% / 2304 * 100)
		+cover
.brandImage
	margin-right: 1em

.brand__title 
	color: $darkGray
	font-size: (17em / 16)
	position: relative
	top: -0.2em
.navigation
	max-width: 370px
	min-width: 300px
	min-height: 300px
	max-height: 370px
	margin: 0 auto
	padding-top: 3em
	@include breakpoint($xxs) 
		padding: 3em 1em 0

.navListItem_name-main
	@extend %relative
	+after
	width: 70px 
	height: 70px
	left: calc(50% - 35px)
	background-color: darken($yellow, 20%)
	&, &:after
		@extend %absolute
		+round
	&:after
		content: ""
		width: 45px 
		height: 45px
		z-index: 2
		left: calc(50% - 22.5px)
		background-color: $blue
	& .navListItem__refer
		display: block
		width: span(12)
		height: span(12)
		z-index: 10

.navList
	height: 100%
	justify-content: center
	+round
	border-width: 3px
	box-shadow: 0 0 15px $shadow
	@include breakpoint($md-less)
		font-size: (18em / 16)
	@include breakpoint($sm-less)
		font-size: (21em / 16)
.navList .navListItem_name-main, .navListItem:not(.navListItem_name-main)
	will-change: transform, box-shadow
	transform-style: preverse-3d
	&:hover 
		transform: scale(1.03, 1.03)
.navList, .navListItem
	border-style: solid
	border-color: $brown
.navListItem
	cursor: pointer
	transition: 0.2s ease-in-out 
.navListItem__refer, .brand
	&, &:hover  
		background-image: none
	

.navListItem:not(.navListItem_name-main)
	border-width: 3px
	font-size: (14em / 16)
	padding: 4em 0
	max-height: 175px
	min-height: 150px
	justify-content: center
	will-change: transform, box-shadow
	transform-style: preverse-3d
	&:hover
		box-shadow: 0 0 10px $shadow
		
	& .navListItem__refer
		color: $white $i
		width: 100%
		display: block
	
	&:first-of-type, &:nth-child(2)
		align-items: flex-start
		& .navListItem__refer
			transform: translate(0, 0.2em)
	&:first-of-type, &:nth-child(3)
		padding-right: 1em

	&:nth-child(2)
		padding-left: 1.5em
	&:nth-child(4)
		padding-left: 2em
	&:nth-child(4), &:nth-child(3)
		align-items: flex-end
		& .navListItem__refer
			transform: translate(0, 0)
	&:first-of-type, &:nth-child(4)
		background-color: $ochre
		& .navListItem__refer
			color: $darkGray $i
	&:nth-child(2), &:nth-child(3)
		background-color: $heatGreen

	
.navListItem_round-
	&topRight
		border-top-right-radius: 100%
	&topLeft
		border-top-left-radius: 100%
	&bottomLeft
		border-bottom-left-radius: 100%
	&bottomRight
		border-bottom-right-radius: 100%

.contacts, .footerContacts
	color: $darkenGray
	font-size: (12em / 16)
.contacts
	justify-content: flex-end
	&__contact:first-of-type
		margin-right: 2em
	&__contact:last-of-type
		margin-right: 1.3em
.footer
    border-top-width: 1px
    margin: 1em 0 1.5em
.presentWorkItem
	padding-bottom: 2em
.footerContacts, .task, .presentWork
	margin-top: 2em

.shadow_position-
	&topRight
		box-shadow: 5px -5px 10px $shadow 
	&topLeft
		box-shadow: -5px -5px 10px $shadow
	&bottomRight
		box-shadow: 5px 5px 10px $shadow
	&bottomLeft
		box-shadow: -5px 5px 10px $shadow
	&centered
		box-shadow: 0 0 10px $shadow

.label
	display: inline-block
	margin-right: 0.5em
.main
	padding-top: 1.5em
.main, .head
	@include breakpoint($xs)
		font-size: +em(18)
		
.presentWorkItem, .main > .container, .presentWork
	flex-direction: column
	justify-content: center
.main p 
	max-width: 75rem
	// margin: 1em 0 0

.presentWorkItem__image,
.presentWorkItem
	margin-top: 1em
.worksPagination, .presentWorkItem
	width: 100%
.task
	background-color: rgba($blue, .3)
	// color: $white
	padding: 0 1em 1.3em
	border-radius: 4px
.task__title	
	border-style: solid
	border-bottom-width: 1px
	border-image: linear-gradient(to right, $blue 0%, $blue 50%, transparent 50%) 1
	padding-bottom: 0.2em
.task__paragraph
	font-size: (14em / 16)


.presentWork
 	border-top-width: 1px

.presentWorkItem,
.presentWork
	width: span(12)

.presentWorkItem__image 
// Start about

.about, .article
	// flex: 1 0 50%
	// min-width: 60%
	max-width: 75rem
	width: 100%
	&:last-child
		margin-bottom: 1em
	// align-self: flex-start
.about, .article
	&:not(:first-child)
		margin-top: 1.5em
// End about

// Start article
.articleSection
	&:first-child
		margin-top: 1.5em
	margin-top: .5em
	padding: 1em 0
	&:not(:last-child)
		border-bottom: 1px solid lighten($gray, 50%)

// End article
 
.article, 
.articlePreview
	// color: $darkGray
.text-uppercase
	letter-spacing: .12em
.technologies
	&Title
		// justify-content: center

		border: 2px solid $darkGray
		padding: .5em 0 
	&List
		margin-top: 1em


.technologies, .technologiesImageContainer
	width: 100%
	
$figures: ('gear', 2000, 1969, em(65, 36)), ('bootstrap', 41, 208, em(200)), ('html', 188, 200, em(65)), ('sass', 77, 102, em(80)), ('git', 55, 133, em(100)), ('gulp', 510, 228, em(40)), ('js', 61, 62, em(65)), ('jquery', 100, 100, em(65)), ('react', 100, 100, em(70)), ('redux', 3109, 3440, em(65)), ('figma', 100, 100, em(70)), ('python', 100, 100, em(65)), ('django', 282, 650, em(120)), ('postrgres', 1032, 1000, em(65)) 


.imageContainer
	&__image
		background: no-repeat center
		background-size: cover
.centered
	justify-content: center
	align-items: center
.technologiesList 
	justify-content: space-between
.technology, .imageContainer_gear 
	margin: auto .5em
	flex-basis: 33%

.technology
	// margin-bottom: .75em
@each $name, $height, $width, $max-width in $figures
	.imageContainer
		&_#{$name}
			max-width: #{$max-width}
		&__image_#{$name}
			padding-bottom: pb($height, $width)
			+image('./../img/icons/#{$name}.png')


.technologiesTitle
	@include breakpoint($sm-less)
		flex-direction: column
	@include breakpoint($xxs)
		font-size: 7vw
.imageContainer_gear 
	@include breakpoint($sm-less)
		width: span(12)
		margin: .5em 0
.controller 
	flex-basis: span(12)
	&:not(:first-child) 
		margin-top: 1em
	

	&_required 
		color: $purple
	
	&__icon 
		margin-bottom: .15em
	
	&__input
		min-width: span(12)
		max-width: span(12)
		font-size: em(18, 21)
		padding: em(16) em(12.5)
		border-radius: 3px
		background-color: #d8d8d8
		border-width: 2px 
		border-style: solid
		// &_purple 
			// border-color: $purple
		&, &_textinput
			border-color: #a7a7a7;
			&:focus 
				&:invalid 
					border-color: $purple				
				&:valid 
					border-color: #437A67	
		&_textinput
			max-height: 8.5em;
		&_select 
			padding: .5em
			margin-top: .5em
		

	

	
	&__label 
		align-self: flex-end
	
	&__checkbox 
		-webkit-appearance: none
		align-self: center
		cursor: pointer
		// padding: em(9)
		height: em(26)
		width: em(26)
		border: 2px solid $purple
		background-color: $gray
		max-width: span(1)
		margin-right: span(1) / 2
		display: inline-block
		position: relative
		// @include round(em(2))
		&:checked:active 

		
		&:checked:after 
			content: '\2714'
			// font-size: em(15)
			position: absolute
			top: em(1)
			left: em(3)
			color: $darkGray
		
	
	&__checkboxLabel 
		color: $white
		padding: .5em 0 .8em 1em 
		max-width: span(10)
		background-color: $red
	
#formWrapper 
	max-width: em(350)
	margin: 2em auto

.formLoader 
	max-width: em(50)
	margin: 3em auto
	display: block
.button 
	border: 0
	width: 100%
	max-width: em(125)
	color: $white
	border-radius: 3px
	padding: .5em 0
	will-change: transform
	transition: transform .3s ease-in
	&:hover, &:focus
		transform: scale(1.04)
	&:active
		transform: translateY(4px)

	&_purple
		background-color: $purple
	
	&_yellow 
		background-color: $yellow
.articlesLoader
	max-width: em(45)
	margin: 1em auto
	width: span(12)
	display: block
	align-self: center