.header
	padding-bottom: 6em
	border-bottom: 1px solid $lightGray
.head, .brand, .contacts, .navList, .navListItem, .works
	display: flex
	flex-flow: row wrap
	align-items: center

.brand

.works, .head 
	justify-content: space-between

.head 
	background-color: $lightGray
	padding: 0.2em 3.8em



.brand, .contacts, .navListItem
	width: span(6)

.brandImage, .work
	width: span(4)


.work
	margin-top: 1em	
	cursor: pointer
	padding: 1em
	padding: 1em
	transition: 0.2s ease-in-out
	&:hover
		box-shadow: 0 10px 20px $shadow
		transform: scale(1.01, 1.01)

.brandImage
	max-width: 69px
	width: span(3)
	&__image
		+round
		padding-bottom: (2491% / 2304 * 100)
		+cover
.brandImage
	margin-right: 1em

.brand__title 
	color: $darkGray
	font-size: (17em / 16)
	position: relative
	top: -0.2em
.navigation
	max-width: 370px
	min-width: 300px
	min-height: 300px
	max-height: 370px
	margin: 0 auto
	padding-top: 3em

.navListItem_name-main
	@extend %relative
	+after
	width: 70px 
	height: 70px
	left: calc(50% - 35px)
	background-color: $paleOragne
	&, &:after
		@extend %absolute
		+round
	&:after
		content: ""
		width: 45px 
		height: 45px
		z-index: 2
		left: calc(50% - 22.5px)
		background-color: $blue
	&:after
	&:after
.navList
	height: 100%
	justify-content: center
	+round
	border-width: 3px
	box-shadow: 0 0 15px $shadow
	font-style: (18em / 16)
	@include breakpoint($xs)
		font-size: (21em / 16)
	@include breakpoint($xxs)
		font-size: 6vw
	
.navList:hover .navListItem_name-main, .navListItem:not(.navListItem_name-main):hover
	transform: scale(1.03, 1.03)
.navList, .navListItem
	border-style: solid
	border-color: $brown
.navListItem
	cursor: pointer
	transition: 0.2s ease-in-out 
.navListItem:not(.navListItem_name-main)
	border-width: 3px
	font-size: (14em / 16)
	padding: 4em 0
	max-height: 175px
	min-height: 150px
	justify-content: center
	
	&:hover
		box-shadow: 0 0 10px $shadow
		
	& .navListItem__refer
		text-decoration: none
		&:hover
			text-decoration: none
		color: $white $i
		width: 100%
		display: block
	
	&:first-of-type, &:nth-child(2)
		align-items: flex-start
		& .navListItem__refer
			transform: translate(0, 0.2em)
	&:first-of-type, &:nth-child(3)
		padding-right: 1em

	&:nth-child(2)
		padding-left: 1.5em
	&:nth-child(4)
		padding-left: 2em
	&:nth-child(4), &:nth-child(3)
		align-items: flex-end
		& .navListItem__refer
			transform: translate(0, 0)
	&:first-of-type, &:nth-child(4)
		background-color: $ochre
	&:nth-child(2), &:nth-child(3)
		background-color: $heatGreen

	
.navListItem_round-
	&topRight
		border-top-right-radius: 100%
	&topLeft
		border-top-left-radius: 100%
	&bottomLeft
		border-bottom-left-radius: 100%
	&bottomRight
		border-bottom-right-radius: 100%

.contacts
	padding-top: 0.7em
	color: $darkenGray
	justify-content: flex-end
	font-size: (12em / 16)
	&__contact:first-of-type
		margin-right: 2em
	&__contact:last-of-type
		margin-right: 1.3em


.shadow_position-
	&topRight
		box-shadow: 5px -5px 10px $shadow 
	&topLeft
		box-shadow: -5px -5px 10px $shadow
	&bottomRight
		box-shadow: 5px 5px 10px $shadow
	&bottomLeft
		box-shadow: -5px 5px 10px $shadow
	&centered
		box-shadow: 0 0 10px $shadow

.main
	padding-top: 1.5em