/*******

 HOBBIES section

*******/
#hobbies {
  background: $palegreen;
  width: 100%;
  padding: 20px 0 50px;
  color: $darkgreen;
  position: relative;
  &::after {
   @include flagTo($palegreen);  
  }
}
.hobbies {
  justify-content: space-between;
  @media (max-width: 768px) {
     @extand .portfolio__works;
  }
  & .hobbies__hobby {
    width: 27%;
    margin-top: 60px;
    @media (max-width: 989px){
      width: 40%;
    }
    &:last-child {
      @media (max-width: 989px) {
        width: 70%;
        margin: 0 auto 20px;
      } 
    }
    @media (max-width: 768px) {
     width: 70%;
     margin: 20px auto 0;
    }
  }
}
@import "title/title.scss";
@import "hobby/hobby.scss";
/*******

 END HOBBIES section

*******/