| {% extends 'base.html' %}

| {% block title %}
title Филипп Журавлёв
| {% endblock %}

| {% block content %}
// Header
include blocks/header/header.pug
// Main Content
include blocks/main/main.pug
| {% endblock %}