.success {
  background-color: $transviolet;
  min-height: 100%;
  padding: 7% 0 30%;
}

.success__text {
  padding: 4% 20%;
  font-size: (20em / 16);
}

.success__redirect {
  @extend %font-size-18;
  transition: color 0.5s;
  &:hover {
    color: darken($white, 15%)
  }
}