.popupContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: span(12);
	height: 100%;
	background-color: hsla(0, 0, 18, .6);
	z-index: -5;
	& * {
		z-index: 10;
	}
	color: $white;
}

.pupup {
	position: absolute;
	left: 100%;
	max-width: 800px;
 	height: 80vh;
	min-height: 640px;
	margin-left: calc(-50% - 400px);
	width: span(10);
	border: 5px solid #cecece;
	background-color: #5d5d5d;
	top: 10vh;

	@include breakpoint($xs) {
		margin-left: 0;
		left: 0;
		width: span(12);
		height: 90vh;
		top: 5vh;
	}
	@include breakpoint($xxs-iphone) {
		min-height: 568px;
		top: 0;
		height: 100%;
	}

}
.popupSlider, .popupContainer {
	opacity: 0;
	transition: opacity 0.4s;  
}
.popupSlider {
	margin-top: 30px;
	@include breakpoint($xs) {
		margin-top: 20px;
	}
}
.popupSlider__img {
	max-height: 400px;
}

.popupDescription {
	width: span(8);
	@include last;
	@include breakpoint($xs) {
		padding: 0 2%;
	}
}
.popupTech, .popupDescription {
	padding: 3% 2%;

}
.popupDescription__text {
	margin: 0;
}
.popupTech {
	@include span(4);
}
.pupup__close {
	position: absolute;
	right: 20px;
	top: 10px;
	z-index: 15;
	color: $darkGray;
	@include breakpoint($xs) {
		top: 0;
	}
}
.popupTech__title {
	font-size: (18em / 16);
	margin: 0;
}
.popupTech__title, .popupDescription__link {
	color: #b3b3b3;
	
}