meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#fff")
meta(name="format-detection" content="telephone=no")
link(rel='dns-prefetch' href="http://localhost:8000")
link(rel='subresource' href="/static/portfolio/css/app.css")
link(rel='subresource' href="/static/portfolio/js/app.js")
link(rel='prefetch' href="/static/portfolio/css/app.css")
link(rel='prefetch' href="/static/portfolio/js/app.js")
link(rel='prerender' href="/protfolio")
link(rel='prerender' href="/about")
link(rel='prerender' href="/technologies")
link(rel='prerender' href="/articles")
link(rel='preload' href="/static/portfolio/css/app.css" as="style")
link(rel='preload' href="/static/portfolio/js/app.js" as="script")
//-link(rel='dns-prefetch' href="shining-present.ru")
| {% if page.page_title %}
title {{ page.page_title }}
| {% else %}
title Page
| {% endif %}
| {% if page.meta %}
meta(name='description', content="{{ page.meta }}") 
| {% else %}
meta(name='description', content="No meta")
| {% endif %}
link(
  rel="stylesheet",
  href="{% static 'portfolio/css/app.css' %}",
  media="none",
  onload="if (media !== 'all') media='all';"
)
style.
  .skip {
    position:fixed;
    padding: 1em .5em;
    text-aligin: center;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #8c4b65;
    -webkit-transform: translateX(-110%);
    transform: translateX(-110%);
    will-change: transform;
    z-index: 10;
    color: #f7f7f7;
  }
  .skip:focus {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    color: #f7f7f7;
  }
  .curtain, .preloader {
    position: fixed;
    will-change: opacity;
    z-index: 10;
  }
  .curtain {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8c4b65;
  }
  
  .preloader {
      top: 40%;
      left: 47.5%;
      width: 10%;
  }
