/*******

 SKILLS section

*******/
#skills {
  background-color: $sweetred;
  @extend %full-width;
  @extend  %relative;
  &::after {
    @include flagTo($sweetred);
  }
}

.skills {
  justify-content: space-between;
  @include breakpoint($xxs) {
    flex-direction: column;
  }
}

.progress {
  background-color: transparent;
  border-radius: 0;
}

@import "supertip.scss";
@import "title/title.scss";
@import "techno/techno.scss";
@import "conceptsTechno/conceptsTechno.scss";
@import "tools/tools.scss";
@import "conceptsTools/conceptsTools.scss";
/*******

 END SKILLS section

*******/