.supertip, .supertipInfo {
  @extend %absolute;
  z-index: 3;
}
.supertip {
  @extend %break-words;
  @extend %default-position;
  @extend %white-color;
  @extend %full-width;
  @extend %zero-opacity;
  background: hsl(0, 0, 18);
 
  padding: 2% 5%;
  transition: opacity 1s;
  text-align: justify !important;
  border-radius: 2px;

  &--hidden {
     @extend %zero-opacity;
  }
  &--opened {
     @extend %visible-opacity;
  }
  &:after {
    @include flagTo(hsl(0, 0, 18), 15);
  }
}
.supertipInfo {
  top: 0;
  left: 105%;
  @include breakpoint($xxs) {
     left: 101%;
  }
  &:focus, &:active, &:hover {
    color: darken($white, 20%);
  }
}