header.main__intro.intro
  .container
    .intro__heading.heading.col-lg-4.col-lg-offset-1.col-md-5.col-sm-7.col-sm-offset-0.col-xs-12
      span.heading__greet Hi, I'm
      h1.heading__name Filipp
      span.heading__and &
    .intro__introduce.introduce.col-lg-3.col-md-3.col-sm-4.col-xs-12
      p.introduce__paragraph.paragraph. 
        <span class="paragraph__text">I <span class='paragraph__icon paragraph__icon-icon_heart'></span> to develope</span> 
        <br>
        <span class="paragraph__text paragraph__text-size_l paragraph__text-weight_n"> beautiful</span>
        <br>
        <span class="patagraph__text paragraph__text-size_xl paragraph__text-weight_b">worlds</span>
        <br>
        <span class="paragraph__text paragraph__text-size_md paragraph__text-weight_s">I'm a web-master  
    .clearfix.visible-xs.visible-sm
    .intro__myFace.myFace.col-md-4.col-xs-12
      figure.myFace__face.img-circle
//end intro