/*********

  GREET section

*********/
/* container */
.main__intro {
  background-color: $ghostblack;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 125px 0 40px;
  &::after {
    @include flagTo($ghostblack);
  }
  @media (max-width: 767px) {
    padding: 75px 0;
  }
}
.intro__heading {
  @media (max-width: 767px) {
    text-align: center;
  }
}
.intro__introduce {
  position: relative;
  top: -15px;
  @media (max-width: 767px) {
    @extend .intro__heading;
  }
}
.heading__greet {
  font-size: (30em / 16);
  color: hsl(0, 0, 53);
}
.heading__name {
  font-size: (80em / 16);
  margin: 0;
}
.heading__and {
  color: hsl(0, 0, 61);
  font-family: monospace, monospace;
  font-size: (60em / 16); 
  position: relative;
  top: -45px;
  right: -285px;
  @media (max-width: 992px)   {
    right: -305px;  
  }
  @media (max-width: 767px) {
    @extend .intro__heading;
    top: -8px;
    right: 0;
  }
}
.intro__myFace {
  float: none;
  max-width: 300px;
  position: relative;
  top: -40px;
  right: -65%;
  @media (max-width: 1199px) {
    top: -35px;
  }
  @media (max-width: 992px) {
    margin: 15px auto 0;
    position: static;
  }
}

.myFace__face {
  padding-top: 100%;
  background: url("../img/my_face.png") no-repeat center;
  background-size: cover; 
  box-shadow: 0 0 5px rgba(0,0,0,.9);
}
.paragraph {
  font-size: 29px;
  line-height: 40px;
  color: hsl(0, 0, 87);
}
.paragraph__icon-icon_heart {
  display: inline-block;
  background: url("../img/heart_as_love.png") no-repeat;
  background-size: cover;
  height: 45px;
  width: 30px;
  margin: 0 5px;
}
.paragraph__text-size_l {
  font-size: (70em / 29);
  color: #fff;
  line-height: 50px;
}
.paragraph__text-size_xl {
  font-size: (80em / 29);
  color: hsl(184, 90, 63);
  line-height: 55px;
}
.paragraph__text-size_md {
  font-size: (40em / 29);
}
.paragraph__text-weight_b {
  font-weight: 700;
}
.paragraph__icon {
  color: #fd2933;
}
/* Typed.js styles */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/*******

 END GREET section

*******/