//Consepts tools' list.
.skills__conceptsTools.concepts
  h3.concepts__title More
  ul.concepts__conceptsList.conceptsList
    li.conceptsList__item.item
      span.item__desc.hidden
      a.item__refer.anchor(href="http://compass-style.org/") Compass
    li.conceptsList__item.item 
      span.item__desc.hidden
      a.item__refer.anchor(href="https://ru.wikipedia.org/wiki/JQuery_UI") jQuery UI
    li.conceptsList__item.item
      span.item__desc.hidden
      a.item__refer.anchor(href="https://ru.wikipedia.org/wiki/Ext_JS") ExtJS
    li.conceptsList__item.item
      span.item__desc.hidden
      a.item__refer.anchor(href="http://fontawesome.io/icons/") Font-awesome
    li.conceptsList__item.item 
      span.item__desc.hidden
      a.item__refer.anchor(href="https://modernizr.com/") Modernizr
    li.conceptsList__item.item 
      span.item__desc.hidden
      a.item__refer.anchor(href="http://susy.oddbird.net/") Susy