//Consepts tools' list.
.skills__conceptsTools.concepts
  h3.concepts__title More
  ul.concepts__conceptsList.conceptsList
    li.conceptsList__item.item
      span.item__desc.tooltip Библиотека написанная на SASS с множеством примочек.
      a.item__refer.anchor(href="http://compass-style.org/") Compass
    li.conceptsList__item.item 
      span.item__desc.tooltip Библиотека с готовым и настраиваемым пользовательским интерфейсом.
      a.item__refer.anchor(href="https://ru.wikipedia.org/wiki/JQuery_UI") jQuery UI
    li.conceptsList__item.item
      span.item__desc.tooltip Огромная библиотека с элементами пользовательского интерфейса, которые в основном нужна для сайтов с высокой нагрузкой.
      a.item__refer.anchor(href="https://ru.wikipedia.org/wiki/Ext_JS") ExtJS
    li.conceptsList__item.item
      span.item__desc.tooltip Стильные иконки написанные на CSS.
      a.item__refer.anchor(href="http://fontawesome.io/icons/") Font-awesome
    li.conceptsList__item.item 
      span.item__desc.tooltip Инструмент для тестирования способностей браузеров.
      a.item__refer.anchor(href="https://modernizr.com/") Modernizr
    li.conceptsList__item.item 
      span.item__desc.tooltip Удобная систем разметки сетки.
      a.item__refer.anchor(href="http://susy.oddbird.net/") Susy