-
	var technologies = [{
			"name": "bootstrap",
			"title": "Bootstrap"
		},
		{
			"name": "html",
			"title": "HTML5"
		},
		{
			"name": "sass",
			"title": "Sass"
		},
		{
			"name": "git",
			"title": "GitHub"
		},
		{
			"name": "gulp",
			"title": "Gulp"
		},
		{
			"name": "js",
			"title": "JavaScript"
		},
		{
			"name": "jquery",
			"title": "jQuery"
		},
		{
			"name": "react",
			"title": "React"
		},
		{
			"name": "redux",
			"title": "Redux"
		},
		{
			"name": "figma",
			"title": "Figma"
		},
		{
			"name": "python",
			"title": "Python"
		},
		{
			"name": "django",
			"title": "Django"
		}, 
		{
			"name": "postgres",
			"title": "Postgresql"
		}
	];
section.about
	h1.visible-hidden Обо мне
	article.technologies
		h2.technologiesTitle.text-uppercase.centered.parent инструментарий
			.imageContainer.imageContainer_gear.child
				figure.imageContainer__image.imageContainer__image_gear
			| для разработки
		ul.technologiesList.parent.centered
			each technology in technologies
				li.imageContainer.technology.child(class="imageContainer_" + technology.name)
					figure.imageContainer__image.technology__image(title= technology.title,  class="imageContainer__image_" + technology.name)
	article.about
		h2.about__title Работал
		p.about__paragraph Работал на классную компанию.
	article.about
		h2.about__title Работаю
		p.about__paragraph Работаю сейчаса на великолепным проектом.
	article.about
		h2.about__title В свободное время&hellip;
		p.about__paragraph Мастурбирую и плачу.