//BEGIN footer
footer.footer(itemscale, itemtype='http://scheme.com/Person')
	.container
		ul.footerContacts
			li.contacts__item Электронная почта: 
				a(href="mailto: {{ settings.email }}", itemprop='email')  {{ settings.email }}