//BEGIN header
header.header(itemscope, itemtype='http://schema.org/Person')
	//BEGIN brand
	.head.parent.row
		a(href="{% url 'portfolio' %}").brand
			.brandImage
				figure.brandImage__image(style="background-image: url('/media/{{ settings.thumb_photo.image }}');")
			h1.brand__title(itemprop='name') Филипп Журавлёв
		//BEGIN contacts
		.contacts
			a.contacts__contact(itemprop='email', href='mailto:{{ settings.email }}') {{ settings.email }} 
			| Skype:&nbsp; 
			a.contacts__contact(itemprop='telephone', href='skype:{{ settings.skype }}?add') {{ settings.skype }}
	//END contacts
	nav.navigation
		ul.navList
			li.navListItem.navListItem_round-topLeft.text-right(data-position='bottomRight')
				a(href="{% url 'portfolio' %}").navListItem__refer Портфолио
			li.navListItem.navListItem_round-topRight(data-position='bottomLeft')
				a(href="{% url 'about' %}").navListItem__refer Обо мне
			li.navListItem.navListItem_round-bottomLeft.text-right(data-position='topRight')
				a(href="{% url 'connect' %}").navListItem__refer Технологии
			li.navListItem.navListItem_round-bottomRight(data-position='topLeft')
				a(href="{% url 'articles' %}").navListItem__refer Статьи
			li.navListItem.navListItem_name-main#centeredMenuButton(data-position='centered')
				a.navListItem__refer(href="{% url 'portfolio' %}")

//END header
