.hat.navbar-header {
  @media (max-width: 767px) {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &::before,
    &::after {
      display: none;
    }
  }
/* Flag */
  .hat__resume {
    font-size: (18em / 16);
    color: #fff;
    background: linear-gradient(to left, #dd2325 80%, transparent 80%);
    margin: 31px 0;
    transform: rotate(-90deg);
    text-align: right;
    position: relative;
    width: 110px;
    text-transform: uppercase;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .9);
    &:hover {
      color: #fff;
      background-color: transparent;
    }
    &::after {
      z-index: 3;
      content: "";
      background: url("https://lh3.googleusercontent.com/84mRTrVplWL4FdhjPICrUhjvZmapm0SVgImtwnfLMpQPQcvhEHGdY-xPXUJBONYUzGzxNSQWj3R-8-5R_yTCYDxJAIJP-axtGGK3dpvZUbNrEfPiDqOP2gNVSI6lYe1Pg-aqQe_UCrsvOqW7ZbfBsEcfujzgaACk46L46aCBLS07n3OHbgpwl5eA8hMHh3_x0dtJtA7wlIEqXhY5U9Hrjvz1jrSlJO9REtAsgaCkgCFZIdWOS0RTA-3g2jiAnJ2e4YQSPwrpBRV8Taw_2L0zerbeAtmDldIfAMUSRlNQvYhW6EN0-Z7O423Lmybu0HZFyPE3T45GsCQ6_RSIeUvGo49S54YOSklF2_CpAgyh-92HzJfYjZ1h57kfLIrzAxRvW54c7Sd7qsTQBLBcLVAkwEmAdhla0SudwN3CU6ayIlSaI9vn5tjtLdx8ZCk_ZyyjFGi5y7Uzr3T1GT4jlI2Yv9tq3tqu64u8jAURljrQhxWXnccILcqUhae7mVtLlpcIqO6SYH0Wg1p_uehwxBz5sG7LZRhWLMtu699x87By4qQDOT7bNcQ_2HMyW9QOe7lIkQ4c5kEnEv6WJ4TBLy0v2X14VKPaW5uXOzBXspyqTZjlwqPnwP0=w25-h50-no") no-repeat;
      background-size: cover;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 50px;
      width: 20%;
    }
    &::before {
      z-index: 4;
      content: "";
      background: url('https://lh3.googleusercontent.com/tOa-WKjJYTUcOQLUPRscQq80ZQDTP9z26Juwz_pbeWaMxPSgjPInCdTyNSOZ_SBLKq52MVYPb9cnhHGPEyJcmSk6BCyPG9YUsqROR0A8VemjKuysLtk0m2WdI4-ORDZ5a-o84GRe9ITafhCBEruTcVBcaoMM1QDNGI_qbnMwD8QW6kV_mmXteJOLM9H79lVORwTaQYM_NWg6Qmut8Eq36BDboCyDj9pjmL6uFKvYbl4UlcLJNACDEhYv_SmSli0izhrlcZkcP2JeJsU4f7qJSf0bEOIKEm8Iz336S8hq9m002PfI_hBPHKaxXCbG0NUcz9C2xpWHIl7uEZrh2JNxKBuZhKTH7EmHz85I-KtccaAY__ou8KKTFqJv2qMRSZmo82G5A9Y1JfGk7lj8WuG3ujSzzr5Yb5TToIzeG8GikLFirN0k6gxiSKMf9NORAv_j0NFUO6TXWMibpsA8GtRiqbl0LpoILM8lBaYBAUDGdiGDmCeCR7VN08et-kDd-LaWSJGSNrCZLUrl65s5kqdzC7guLTiUkVmGx-dmFjowKU6-fT2fo38Q9ad9-gmcVf2y9XQDb2Mv3HrxWpHwUhwLh3FcBRJsJHd74pPynG5fcatUJHqGIsw=s20-no') no-repeat 15% 50%;
      background-size: 12px;
      position: absolute;
      width: 100%;
      border-top: 1px dashed $black;
      border-bottom: 1px dashed $black;
      height: 40px;
      text-align: left;
      padding-left: (110px / 100 * 80 / 5.5);
      color: hsl(0, 0, 18);
      left: (110px / 100 * 7);
      top: (10px / 2);
      font-size: (45em / 18);
      box-shadow: 5px 0 2px  rgba(0,0,0,.9);
    }
    }
    }
.hat__btn {
  align-self: center;
}