nav.navigation.collapse.navbar-collapse.navbar-fixed-top#collapsable(role='navigation')
  ul.navigation__navList.navList.nav.navbar-nav.navbar-right
    li.navList__item.item
      a.item__text(href='#top') Обо мне
    li.navList__item.item 
      a.item__text(href='#portfolio') Портфолио
    li.navList__item.item
      a.item__text(href="#skills") Навыки
    li.navList__item.item
      a.item__text(href="#hobbies") Хобби
    li.navList__item.item 
      a.item__text(href='#connect') Связь
a#btnUp.navigation__btnUp.fa.fa-arrow-circle-up.fa-3x(
  aria-hidden="true",
  href="#top"
)