/* navigation */
.navigation {
  z-index: 1;
  top: 28px;
  right: 18%;
  // @extend .full-width-xs;
  // @extend .text-center-xs;
  @include breakpoint($xs) {
    position: static;
    text-align: center;
    width: span(12);
  }
  .navList__item {
    @extend %font-size-22;
    @include breakpoint($xs){
      display: inline-flex;
    }
   @include breakpoint($xxs) {
      display: block;
    }
    .item__text {
      @extend %white-color;
      transition: box-shadow .5s, color .5s;
      &:hover {
        color: #f0f;
        box-shadow: 2px 3px 5px #000;
      }
      &:focus {
        @extend %white-color;
      }
    }
    &-list {
      // @extend .block-xs;
      @include breakpoint($xs) {
        display: block;
      }
    }
  }
}
.navigation__btnUp {
  z-index: 10;
  @extend %fixed;
  bottom: 20px;
  right: 50px;
  &:focus, &:active, &:hover {
    color: darken($white, 20%);
  }
}