.portfolio__works {
  width: 100%;
  @include breakpoint($xs) {
  }
}
.elemWork {
  box-shadow: 0 0 5px rgba(0, 0, 0, .9);
  max-width: 45%;
  max-height: 650px;
  margin: 20px;
  background-color: #f5f5f5;
  @include breakpoint($xs) {
    // max-height: 250px;
  }
}
.elemWork__img {
  cursor: pointer;
}
@import 'popupContainer/popupContainer.scss';