.portfolio__works {
  @extend %full-width;

}
.elemWork {
  box-shadow: 0 0 5px rgba(0, 0, 0, .9);
  max-width: 45%;
  max-height: 650px;
  margin: 20px;
  background-color: $white;
  @include breakpoint($xs) {
  	margin: 10px;
  }
}
.elemWork__img {
  cursor: pointer;
}
@import 'popupContainer/popupContainer.scss';