| {% extends 'base.html' %}

| {% block title %}
title Филипп Журавлёв
| {% endblock %}

| {% block content %}
// Header
include blocks-ru/header/header.pug
// Main Content
include blocks-ru/main/main.pug
| {% endblock %}
