/* Technologies' list */
.skills__techno {
  width: 60%;
  margin-right: 0;
  @include breakpoint($xxs) {
    width: 85%;
    margin: 0 auto;
  }
}
@import "title/title.scss";
@import "techList/techList.scss";