/******

 HEADER

*******/
/* Banner */
.banner {
  background-color: $ghostblack;
  border-radius: 0;
  @extend .zero-margin;
  border: 0;
  .container {
    @extend .center-margin;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    &::before,
    &::after {
      display: none;
    }
    .navigation {
      // @extend .center-margin-xs;
      @include breakpoint($xs) {
        margin: 15px auto 0;
      }
    }
  }
}
@import "logo/logo.scss";
@import "navigation/navigation.scss";
/**********

 END HEADER

*********/