
/* Concepts. In addition to technologies' list and tools' list. */
.concepts {
  width: 40%;
  @extend .text-right;
  margin-bottom: 10px;
  @include breakpoint($xxs) {
    width: 100%;
    text-align: center;
  }
  & .supertipInfo{
  	left: auto;
  	right: 70%;
  	@include breakpoint($xxs) {
		right: auto;
		left: 90%;
  	}
  }
}
@import "title/title.scss";
@import "conceptsList/conceptsList.scss";