ul.concepts__conceptsList.conceptsList
  li.conceptsList__item.item 
    a.item__refer.anchor(href="http://alistapart.com/article/responsive-web-design") Resposible Design
  li.conceptsList__item.item 
    a.item__refer.anchor(href="https://en.wikipedia.org/wiki/Cross-browser") Cross-browser
  li.conceptsList__item.item 
    a.item__refer.anchor(href="https://en.bem.info/methodology/") BEM
  li.conceptsList__item.item 
    a.item__refer.anchor(href="https://www.w3.org/WAI/intro/aria") WIA-ARIA
  li.conceptsList__item.item 
    a.item__refer.anchor(href="https://en.wikipedia.org/wiki/Ajax_(programming)") AJAX
  li.conceptsList__item.item 
    a.item__refer.anchor(href="https://en.wikipedia.org/wiki/Regular_expression") Regular expression
  li.conceptsList__item.item 
    a.item__refer.anchor(href="https://www.heroku.com/about") Heroku