//Consepts tools' list.
.skills__conceptsTools.concepts
  h3.concepts__title Больше
  .clearfix
  ul.concepts__conceptsList.conceptsList
    | {% for tool in additionaltools %}
    li.conceptsList__item.item.showTip(data-supertip="{{tool.tooltip}}")
        a.item__refer.anchor(href="{{tool.link}}") {{tool.name}}
    | {% endfor %}